<app-spinner [loading]="loading"></app-spinner>
<div class="dialog-header-bar">
    <h1 mat-dialog-title>Applicant editing form</h1>
    <mat-dialog-actions>
        <mat-icon mat-dialog-close>close</mat-icon>
    </mat-dialog-actions>
</div>
<form class="applicant-form" [formGroup]="validationGroup!" novalidate>
    <p class="required-field">First name</p>
    <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors? 'invalid-input' : ''">
        <input required formControlName="firstName" type="text" matInput placeholder="Enter first name"
            [(ngModel)]="updatedApplicant.firstName">
    </mat-form-field>
    <div class="validation-error"
        *ngIf="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors?.required; else firstNamePatternError">
        It&apos;s required field
    </div>
    <ng-template #firstNamePatternError>
        <div class="validation-error"
            *ngIf="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors?.pattern">
            A first name can only contain latin letters and start with an upper case letter
        </div>
    </ng-template>

    <p class="required-field">Last name</p>
    <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors? 'invalid-input' : ''">
        <input required formControlName="lastName" type="text" matInput placeholder="Enter last name"
            [(ngModel)]="updatedApplicant.lastName">
    </mat-form-field>
    <div class="validation-error"
        *ngIf="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors?.required; else lastNamePatternError">
        It&apos;s required field
    </div>
    <ng-template #lastNamePatternError>
        <div class="validation-error"
            *ngIf="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors?.pattern">
            A last name can only contain latin letters and start with an upper case letter
        </div>
    </ng-template>

    <p class="required-field">Email</p>
    <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors? 'invalid-input' : ''">
        <input required formControlName="email" type="email" matInput placeholder="Enter email"
            [(ngModel)]="updatedApplicant.email">
    </mat-form-field>
    <div class="validation-error"
        *ngIf="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors?.required; else emailPatternError">
        It&apos;s required field
    </div>
    <ng-template #emailPatternError>
        <div class="validation-error"
            *ngIf="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors?.pattern">
            Please enter a valid email address.
        </div>
    </ng-template>

    <p>Experience years</p>
    <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['experience'].dirty && validationGroup!.controls['experience'].errors ? 'invalid-input' : ''">
        <input formControlName="experience" type="number" matInput step=".1" min="0" max="60"
            [(ngModel)]="updatedApplicant.experience">
    </mat-form-field>
    <div class="validation-error"
        *ngIf="validationGroup!.controls['experience'].dirty && validationGroup!.controls['experience'].errors">
        Please enter a valid experience number in range from 0 to 60
    </div>

    <p>Experience description</p>
    <mat-form-field class="wide" appearance="fill">
        <textarea formControlName="experienceDescription" matInput placeholder="Enter experience description"
            [(ngModel)]="updatedApplicant.experienceDescription"></textarea>
    </mat-form-field>

    <p>Phone</p>
    <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['phone'].dirty && validationGroup!.controls['phone'].errors? 'invalid-input' : ''">
        <input formControlName="phone" type="tel" matInput placeholder="Enter phone number"
            [(ngModel)]="updatedApplicant.phone">
    </mat-form-field>
        <div class="validation-error"
        *ngIf="validationGroup!.controls['phone'].dirty && validationGroup!.controls['phone'].errors?.pattern">
            A phone number can only contain integers and has a length from 8 to 16. In has to match the pattern
            +&lt;code&gt;&lt;number&gt; or &lt;number&gt;
        </div>   

    <p>Tags</p>
    <app-tags-edit [tags]="updatedApplicant.tags.tagDtos" (updateTags)="updateTags($event)"></app-tags-edit>

    <p>Skills additional information</p>
    <mat-form-field class="wide" appearance="fill">
        <textarea formControlName="skills" matInput placeholder="Enter skills additional information"
            [(ngModel)]="updatedApplicant.skills"></textarea>
    </mat-form-field>

    <p>LinkedIn url</p>
    <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['linkedInUrl'].dirty && validationGroup!.controls['linkedInUrl'].errors? 'invalid-input' : ''">
        <input formControlName="linkedInUrl" type="text" matInput placeholder="Enter LinkedIn url"
            [(ngModel)]="updatedApplicant.linkedInUrl">
    </mat-form-field>
    <div class="validation-error"
        *ngIf="validationGroup!.controls['linkedInUrl'].dirty && validationGroup!.controls['linkedInUrl'].errors?.pattern">
        LinkedIn url must match the pattern https://www.linkedin.com/&lt;username&gt;
    </div>

    <p>{{ updatedApplicant.hasCv ? 'Update cv' : "Add cv" }}</p>
    <app-file-input (upload)="uploadApplicantCv($event)" [accept]="allowedCvFileType"></app-file-input>

    <p>{{ updatedApplicant.hasPhoto ? 'Update photo' : "Add photo" }}</p>
    <app-file-input (upload)="uploadApplicantPhoto($event)" [image]="true"></app-file-input>

    <mat-dialog-actions class="edit-action">
        <button [disabled]="validationGroup!.invalid" (click)="updateApplicant()" mat-button>
            Save changes
        </button>
    </mat-dialog-actions>

</form>