.mat-dialog-title {
    margin: 0 16px 20px;
}

.mat-dialog-actions {
    padding: 15px 16px 10px;
}

.mat-dialog-content {
    padding: 0 40px 10px;

    p {
        margin: 0;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background: none;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: (#291965), $alpha: 0.5);
        border-radius: 5px;
    }
}

:host ::ng-deep .mat-form-field {
    width: 100%;
    margin-bottom: 15px;

    .mat-form-field-wrapper {
        max-width: none;
        box-sizing: border-box;
        margin: 0;
        border-radius: 10px;
        width: 100%;
    
        .mat-form-field-subscript-wrapper {
            margin-top: 17px;
            width: calc(100% - 60px);
        }
    }
}

.edit-action {
    margin-bottom: 20px;
}