$primary-color: #ee2a64;
$primary-color-white: #f6f7f9;
$primary-font: Nunito;

.project-edit-container {
  position: relative;

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    form {
      width: 100%;
    }
  }

  h1 {
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
  }

  h5 {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
  }

  button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 170px;
  }
}

::ng-deep {
  .cdk-overlay-pane .mat-dialog-container .project-edit-container {
    height: 90vh;
  }
  .mat-dialog-container .project-edit-container {
    position: relative;
  }
}

::ng-deep .mat-dialog-container .project-edit-container{
    .mat-form-field-appearance-fill .mat-form-field-flex{
        background: $primary-color-white;
    }
    .mat-form-field {
        margin-bottom: 5px;
        width: 100%;
    }
    .mat-form-field-wrapper.mat-form-field-wrapper {
        background: $primary-color-white;
        border-radius: 10px;
        margin: 0;
        width: 100%;
        max-width: 100%;
        padding-left: 15px;
        padding-bottom: 0px;
    }
    /* Text Area */
    .wide .mat-form-field-wrapper.mat-form-field-wrapper {
        height: 185px;
    }
    .wide .mat-form-field-flex {
        height: 90%;
        margin-top: 20px;
        padding: 0;
        background-color: transparent;
    }
    textarea.mat-input-element {
        resize: none;
        height: 90%;
    }
    .mat-form-field-flex .mat-form-field-infix {
        background: $primary-color-white;
        height: 90%;
    }
    /* Close Button */
    .close-dialog {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .close-dialog:hover {
        cursor: pointer;
        color: $primary-color;
    }
    .mat-dialog-actions {
        min-height: 0;
    }
}
