<div class="project-edit-container">
    <app-spinner [loading]="loading"></app-spinner>
    <h1>Project edit form</h1>
    <div mat-dialog-actions>
        <mat-icon class="close-dialog" (click)="onFormClose()">close</mat-icon>
    </div>

    <div class="form-container">
        <form [formGroup]="projectCreateForm" (ngSubmit)="onSubmited()">
            <h5 class="required-field">Name</h5>
            <mat-form-field floatLabel="never" [ngClass]="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors? 'invalid-input': ''">
                <input matInput type="text" formControlName="name" placeholder="Enter name project">
            </mat-form-field>
            <div class="validation-error" *ngIf="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors?.required">
                Is required.
            </div>
            <div class="validation-error" *ngIf="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors?.minlength">
                Name must be at least 3 characters long.
            </div>
            <div class="validation-error" *ngIf="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors?.maxlength">
                Name must be not greater than 15 characters long.
            </div>

            <h5>Logo</h5>
            <mat-form-field floatLabel="never" [ngClass]="this.projectCreateForm.controls['logo'].dirty && this.projectCreateForm.controls['logo'].errors? 'invalid-input': ''">
                <input matInput type="text" formControlName="logo" placeholder="Enter logo link">
            </mat-form-field>

            <h5 class="required-field">Description project</h5>
            <mat-form-field class="wide example-full-width" appearance="fill" [ngClass]="this.projectCreateForm.controls['description'].dirty && this.projectCreateForm.controls['description'].errors? 'invalid-input': ''">
                <textarea matInput type="text" formControlName="description" placeholder="Enter text"></textarea>
            </mat-form-field>
            <div class="validation-error" *ngIf="this.projectCreateForm.controls['description'].dirty && this.projectCreateForm.controls['description'].errors?.required">
                Is required.
            </div>
            <div class="validation-error" *ngIf="this.projectCreateForm.controls['description'].dirty && this.projectCreateForm.controls['description'].errors?.minlength">
                Description must be at least 10 characters long.
            </div>

            <h5 class="required-field">Team info</h5>
            <mat-form-field class="wide example-full-width" appearance="fill" [ngClass]="this.projectCreateForm.controls['teamInfo'].dirty && this.projectCreateForm.controls['teamInfo'].errors? 'invalid-input': ''">
                <textarea matInput type="text" formControlName="teamInfo" placeholder="Enter text"></textarea>
            </mat-form-field>
            <div class="validation-error" *ngIf="this.projectCreateForm.controls['teamInfo'].dirty && this.projectCreateForm.controls['teamInfo'].errors?.required">
                Is required.
            </div>
            <div class="validation-error" *ngIf="this.projectCreateForm.controls['teamInfo'].dirty && this.projectCreateForm.controls['teamInfo'].errors?.minlength">
                Team info must be at least 10 characters long.
            </div>

        <h5 class="required-field">Website Link</h5>
        <mat-form-field floatLabel="never" [ngClass]="this.projectCreateForm.controls['websiteLink'].dirty && this.projectCreateForm.controls['websiteLink'].errors? 'invalid-input': ''">
            <input matInput type="text" formControlName="websiteLink" placeholder="Enter website link project">
        </mat-form-field>
        <div class="validation-error" *ngIf="this.projectCreateForm.controls['websiteLink'].dirty && this.projectCreateForm.controls['websiteLink'].errors?.required">
            Is required.
        </div>
        <div class="validation-error" *ngIf="this.projectCreateForm.controls['websiteLink'].dirty && this.projectCreateForm.controls['websiteLink'].errors?.url">
            Wrong url format
        </div>
        
        <p>Tags</p>
        <app-tags-edit [tags]="project.tags.tagDtos" (updateTags)="updateTags($event)"></app-tags-edit>

            <button mat-button mat-dialog-close type="submit" [disabled]="!projectCreateForm.valid || !this.projectCreateForm.dirty">Save changes</button>
        </form>
    </div>
</div>