<div class='vacancy-card-wrapper'>
    <h4>
        <mat-icon class="hot">local_fire_department</mat-icon>
        Vacancy urgent status
    </h4>
    <h2>Vacancy name</h2>
    <div class='vacancy-summary-info'>
        <span>
            <mat-icon>person</mat-icon>
            10 of candidates
        </span>
        <span>
            <mat-icon>verified_user</mat-icon>
            10 processed
        </span>
        <span>
            <mat-icon>event_available</mat-icon>
            0 of interview
        </span>
        <span>
            <mat-icon>fiber_new</mat-icon>
            0 of new
        </span>
    </div>
</div>