<div class="dialog-title" mat-dialog-title>
    <h1>Pool creation form</h1>
    <button mat-icon-button mat-dialog-close="none">
      <mat-icon>close</mat-icon>
    </button>
</div>
<div class="form-control">
  <form [formGroup]="createPool">
    <h5 class="required-field">Pool name</h5>
    <mat-form-field floatLabel='never' class="al-subscribe-form-field" [ngClass]="getClass('name')">
      <input matInput type="text" formControlName="name" placeholder="Enter name of pool">
    </mat-form-field>
    <div class="custom-error" *ngIf="this.createPool.controls['name'].dirty && this.createPool.controls['name'].errors?.required">
      Please fill name of pool.
    </div>
    <div class="custom-error" *ngIf="this.createPool.controls['name'].dirty && this.createPool.controls['name'].errors?.minlength">
      Name must be at least 3 characters long.
    </div>
    <div class="custom-error" *ngIf="this.createPool.controls['name'].dirty && this.createPool.controls['name'].errors?.maxlength">
      Name must be not greater than 20 characters long.
    </div>
    <h5 class="required-field">Description</h5>
    <mat-form-field floatLabel='never' class="al-subscribe-form-field" class="textarea" [ngClass]="getClass('description')">
        <textarea matInput type="text" autocomplete="off" formControlName="description" placeholder="Enter description"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="12"
        cdkAutosizeMaxRows="12"></textarea>
    </mat-form-field>
    <div class="custom-error" *ngIf="this.createPool.controls['description'].dirty && this.createPool.controls['description'].errors?.required">
      Please fill description of pool.
    </div>
    <div class="custom-error" *ngIf="this.createPool.controls['description'].dirty && this.createPool.controls['description'].errors?.minlength">
      Pool description must be at least 10 characters long.
    </div>
    <div class="login-button form-group">
      <button mat-button color="primary" (click)="save()" [disabled]="!createPool.valid || !this.createPool.dirty">Save</button>
    </div>
  </form>
</div>
