@import '/src/common.scss';

.dialog-title {
    display: flex;
    justify-content: space-between;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.form-control .mat-form-field {
    width: 100%;
    margin-bottom: 20px;    
}

:host ::ng-deep {
    .mat-input-element,
    .mat-form-field-wrapper.mat-form-field-wrapper,
    .mat-form-field.mat-focused .mat-form-field-label
    {
      color : $primary-color-darkgrey;
      caret-color: $primary-color-darkgrey;
    }

    .mat-form-field-wrapper.mat-form-field-wrapper {
        height: auto;
        min-height: 45px;
        box-sizing: border-box;
        max-width: none;
    }

    .mat-form-field span {
        padding-top: 10px;
    }

}


.mat-form-field .textarea {
    padding-top: 10px;
    font-size: 14px;
}

.mat-form-field-flex .textarea {
    padding-top: 10px;
}

div .custom-error {
    color: red;
    margin-top: -18px;
    margin-bottom: 5px;
}

form .mat-button-disabled {
    opacity: 0.5;
}