@import "../../../../common.scss";

.container {
  padding-left: 20px;
  padding-top: 15px;
  box-sizing: border-box;
  display: flex;
  position: relative;
  min-height: 200px;

  h2,
  h4 {
    margin: 0;
    padding: 0;
  }

  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  .one-line {
    word-break: keep-all;
    white-space: nowrap;
  }

  .icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .text-icon {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    transform: translateY(-8px);
  }

  .content-col {
    flex-grow: 1;

    .block {
      padding: 20px 0 20px 10px;
      box-sizing: border-box;

      &.top {
        display: flex;
        padding: 0;

        .avatar {
          margin-right: 20px;
          $dim: 120px;
          width: $dim;
          height: $dim;
          max-width: $dim;
          max-height: $dim;
          border-radius: 50%;
          cursor: zoom-in;
        }

        .text {
          padding: 20px 0 20px 10px;
        }
      }

      &.experience {
        div:not(div:last-child) {
          margin-bottom: 10px;
        }
      }

      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        .tag {
          background-color: $primary-color-lightgrey;
          padding: 2px 15px;
          font-size: 12px;
          border-radius: 16px;
        }
      }

      .reviews {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
      }

      .timeline {
        max-height: 300px;
        overflow-y: auto;

        .timeline-item {
          padding: 5px 15px;
          box-sizing: border-box;
          border-left: 2px solid $accent-color;
          position: relative;
          margin-left: 4px;

          &:hover {
            background-color: $primary-color-lightgrey;
          }

          .bold {
            font-weight: 600;
          }

          h4 {
            font-weight: 400;
          }

          .circle {
            width: 10px;
            height: 10px;
            background-color: $accent-color;
            border-radius: 50%;
            position: absolute;
            left: -6px;
            top: calc(50% - 5px);
          }
        }
      }

      .reviews {
        & > * {
          min-width: 50%;
          max-width: 200px;
        }
      }

      .list {
        &,
        & li {
          list-style: none;
          list-style-type: none;
        }

        li {
          display: flex;
          align-items: center;
          margin-top: 10px;

          mat-icon {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
