<div class="container">
  <app-spinner [loading]="loading"></app-spinner>
  <ng-container *ngIf="!loading">
    <div class="content-col">
      <div class="top block">
        <img class="avatar" [src]="getAvatar()" (click)="enlargeAvatar()" />
        <div class="text">
          <h2>{{ data.fullName }}</h2>
          <p class="only-color meta">
            <span *ngIf="data.isSelfApplied">Self applied candidate</span>
            <span *ngIf="!data.isSelfApplied">Added by </span>
            <a *ngIf="!data.isSelfApplied" routerLink="/profile/{{ data.hrWhoAddedId }}">{{ data.hrWhoAddedFullName
              }}</a>
            <span> {{ data.dateAdded | timezone }}</span>
          </p>
          <p class="only-color meta">
            <span>Current stage: </span>
            <span class="only-color dark meta">{{ data.currentStageName }}</span>
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="block">
        <h3>Contacts</h3>
        <ul class="list">
          <li>
            <mat-icon color="accent">phone_in_talk</mat-icon>
            <span>{{ data.phone }}</span>
          </li>
          <li>
            <mat-icon color="accent">email</mat-icon>
            <span>{{ data.email }}</span>
          </li>
          <li *ngIf="data.tags.length > 0">
            <mat-icon color="accent" class="text-icon">#</mat-icon>
            <div class="tags">
              <div class="tag" *ngFor="let tag of data.tags">{{ tag.tagName }}</div>
            </div>
          </li>
        </ul>
      </div>
      <mat-divider></mat-divider>
      <div class="experience block">
        <h3>Experience</h3>
        <div>{{ data.experience }} years</div>
        <div *ngIf="data.experienceDescription">{{ data.experienceDescription }}</div>
        <div *ngIf="data.cvLink">
          <a [href]="data.cvLink" download class="icon-link">
            <mat-icon>insert_drive_file</mat-icon>
            <span>{{ data.cvName }}</span>
          </a>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="block" *ngIf="data.stagesHistory.length">
        <h3>Activity</h3>
        <div class="timeline">
          <div class="timeline-item" *ngFor="let item of data.stagesHistory">
            <h4>Moved to stage <span class="bold">{{ item.stageName }}</span></h4>
            <div class="meta">{{ item.dateAdded | timezone }}</div>
            <div class="circle"></div>
          </div>
        </div>
      </div>
      <mat-divider *ngIf="data.stagesHistory.length"></mat-divider>
      <div class="block" *ngIf="data.comments">
        <h3>Comments</h3>
        <div>
          {{ data.comments }}
        </div>
      </div>
      <mat-divider *ngIf="data.comments && data.reviews.length"></mat-divider>
      <div class="block" *ngIf="data.reviews.length">
        <h3>Reviews</h3>
        <div class="reviews">
          <div *ngFor="let item of data.reviews">
            <h4 class="only-color dark meta one-line">{{ item.reviewName }}</h4>
            <app-mark-bar [mark]="item.mark"></app-mark-bar>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>