<div class='my-tasks'>
    
        <h2>Your tasks</h2>
    
    <div class='task-list'>
        <div class='task' *ngFor="let task of tasks">
            <div class='pic'><mat-icon>account_circle</mat-icon></div>
            <div class='info'>
                <div class='applicant'>{{task.applicant.firstName}} {{task.applicant.lastName}}</div>
                <div class='task-description'>{{task. name}} with {{task.createdBy.firstName}} {{task.createdBy.lastName}} at <span class='time'>{{task.dueDate | date:'HH:mm'}}</span></div>
            </div>            
        </div>
        <div class="more" *ngIf="!isEnd && !loading">
            <div class="button" (click)="loadData()">Show more</div>
        </div>             
    </div>
</div>
