<app-header></app-header>
<div class="pool-page">
    <app-spinner *ngIf="loading"></app-spinner>
    <div class="header">
        <button class="tub" [style.text-decoration]="isFollowedPage === 'false' ? 'underline' : 'none'"
            (click)="switchAwayToAll()">All</button>
        <button class="tub" [style.text-decoration]="isFollowedPage === 'true' ? 'underline' : 'none'"
            (click)="switchToFollowed()">Followed</button>
        <mat-form-field floatLabel="never">
            <mat-icon class="search">search</mat-icon>
            <input matInput type="text" (keyup)="applyFilter($event)" placeholder="Search..." #input>
        </mat-form-field>
        <button mat-button class="create-button" (click)="onCreate()"> + New pool</button>
    </div>
    <app-table-filter
        [description]="filterDescription"
        [data]="mainData"
        (filteredDataChange)="setFiltered($event)"
    ></app-table-filter>
    <div class="pool-list">
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="dateCreated" matSortDirection="desc">

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row">{{ row.name}} </td>
                </ng-container>

                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let i = index">{{i+1 + (paginator ? (paginator.pageIndex *
                        paginator.pageSize):0)}}</td>
                </ng-container>

                <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by </th>
                    <td mat-cell *matCellDef="let row">{{ row.createdBy }} </td>
                </ng-container>

                <ng-container matColumnDef="dateCreated">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date created </th>
                    <td mat-cell *matCellDef="let row">{{ row.dateCreated | timezone }} </td>
                </ng-container>

                <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Applicants count </th>
                    <td mat-cell *matCellDef="let row">{{ row.count}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                    <td mat-cell *matCellDef="let row">{{ row.description }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let row" class="actions">
                        <mat-icon [ngClass]="{'applyPrimaryColor': row.isFollowed}" *ngIf="isFollowedPage === 'true'"
                                (click)="$event.stopPropagation();onBookmark(row, 'true')" class="applyPrimaryColor">bookmark</mat-icon>
                        <mat-icon [ngClass]="{'applyPrimaryColor': row.isFollowed}" *ngIf="isFollowedPage === 'false'"
                                (click)="$event.stopPropagation();onBookmark(row)">bookmark</mat-icon>
                        <mat-icon (click)="$event.stopPropagation();editPool(row)">edit</mat-icon>
                        <mat-select panelClass="pool-options">
                            <mat-option (click)="onDetails(row.id)">
                                <mat-icon class="info">info</mat-icon>Details
                            </mat-option>
                            <mat-option (click)="onAddApplicantsFromPoolToVacancy(row.applicants)">
                                <mat-icon>done_all</mat-icon>Apply Pool To Vacancy
                            </mat-option>
                        </mat-select>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data maching the filter</td>
                </tr>

            </table>
            <mat-paginator class="mat-paginator-sticky" #paginator appStylePaginator [showTotalPages]="5"
                [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </div>
</div>