<div [ngClass]="{blur: isBlur}" class="vacancy-card-wrapper">
    <h3 class="bold-plus  vacancy-title" [routerLink]="['/candidates', hotVacancy.id]">
        <span>{{ hotVacancy.title}}</span>
        <mat-icon class="hot">local_fire_department</mat-icon>
    </h3>
    <h4 class="bold">
        for <a routerLink="/projects" [queryParams]="{editId: hotVacancy.projectId}">{{ hotVacancy.projectName }}</a>
    </h4>
    <div class="vacancy-summary-info">
        <span>
            <mat-icon>person</mat-icon>
            {{ hotVacancy.candidateCount }} candidates
        </span>
        <span>
            <mat-icon>verified_user</mat-icon>
            {{ hotVacancy.processedCount }} processed
        </span>
        <span>
            <mat-icon>hail</mat-icon>
            {{ hotVacancy.selfAppliedCount }} self-applied
        </span>
        <span>
            <mat-icon>fiber_new</mat-icon>
            {{ hotVacancy.candidateNewCount }} new
        </span>
    </div>
</div>