@import "../../../../common.scss";

.select-template {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .mat-button.mat-button{
        margin-top: 10px;
    }

    .html-show {
        margin: 10px;
        margin-bottom: 0;
        width: 100%;

        span{
        padding-left: 10px;
        }

        .bg {
            padding: 10px;
            border-radius: 10px;
            background: $primary-color-white;
        }
    }
    ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
        background-color: transparent;
    }

    ::ng-deep .mat-form-field{
        width: 80%;
    }
}