@import "/src/common.scss";

.dialog-container  {
    margin: auto;
}

.mat-dialog-title {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 58px;
    margin-bottom: 10px;
}

.dialog-back-button {   
    cursor: pointer;
}

.mat-dialog-title span {
    font-family   : $primary-font;
    font-size     : 24px;
    font-weight   : 600;
    line-height   : 33px;
    letter-spacing: 0em;
    color         : $primary-color-blue;
}

.mat-dialog-content p {
    text-align: center;
}

.dialog-input-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #f0f0f0 inset;
}

.mat-button.mat-button {
    width : 160px;
    height: 40px;
}

.mat-button:disabled {
    background-color: lightgray;
}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #f0f0f0 inset;
}