$primary-font : Nunito;
$primary-color: #291965;

.dialog-container  {
    margin: auto;
}

.mat-dialog-title {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 10px;
    
}

.dialog-back-button {   
    cursor: pointer;
}

.mat-dialog-title span {
    font-family   : $primary-font;
    font-size     : 24px;
    font-weight   : 600;
    line-height   : 33px;
    letter-spacing: 0em;
    color         : $primary-color;
}

.mat-dialog-content p {
    text-align: center;
}

.dialog-input-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.mat-button {
    width : 160px;
    height: 45px;
}

.dialog-validation-message {
    font-family: $primary-font;
    font-weight: normal;
    font-size  : 12px;
    line-height: 19px;
    margin-top : 5px;
    color      : red;
}

.mat-dialog-actions {
    display: flex;
    justify-content: center;
}