<app-spinner [loading]="loading"></app-spinner>
<div class='dialog-container'>
    <h1 mat-dialog-title ><mat-icon mat-dialog-close class='dialog-back-button'>arrow_back</mat-icon><span class="dialog-title">Forgot Password</span></h1>
    <div mat-dialog-content>
        <p>Enter your email address, and we will send you an email with a link to reset your password.</p>
    </div>
    <form [formGroup]="emailForm" (ngSubmit)="resetPassword()">
        <div class="dialog-input-email form-group">
            <mat-form-field floatLabel="never"
            [ngClass]="loginRegistCommonComponent.checkIsControlValid(emailForm,'userEmail') ? 'invalid-input' : ''">
                <input matInput type="email" formControlName="userEmail" placeholder="Enter your Email">
            </mat-form-field>
            <div class="validation-error"
                *ngIf="loginRegistCommonComponent.checkIsControlValid(emailForm,'userEmail') && emailForm.controls['userEmail'].errors?.pattern">
                Please enter a valid address.
            </div>
        </div>
        <div mat-dialog-actions class="dialog-button form-group">
            <button mat-button color="primary" [disabled]="emailForm.invalid || !isRequestFinished">Reset password</button>
        </div>
    </form>
</div>