<app-spinner [loading]="loading"></app-spinner>
<div class="edit-vacancy-container">
    <div class="modal-top">
        <h1 mat-dialog-title *ngIf="data.vacancyToEdit"><b>Edit vacancy</b></h1>
        <h1 mat-dialog-title *ngIf="!data.vacancyToEdit"><b>Create vacancy</b></h1>
        <button mat-icon-button aria-label="Close" (click)="dialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <h2><b>Main info</b></h2>
    <div mat-dialog-content>
        <form class="form-container" [formGroup]="vacancyForm">
            <mat-label class="required-field">Title</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(vacancyFormControl.title.touched || submitted) && vacancyFormControl.title.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="title" placeholder="Enter title">
            </mat-form-field>
            <mat-error
                *ngIf="(vacancyFormControl.title.touched || submitted) && vacancyFormControl.title.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <mat-label class="required-field">Description vacancy</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(vacancyFormControl.description.touched || submitted) && vacancyFormControl.description.invalid ? 'invalid-input' : ''">
                <textarea matInput type="text" autocomplete="off" formControlName="description" placeholder="Enter text"
                    cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="12"
                    cdkAutosizeMaxRows="12"></textarea>
            </mat-form-field>
            <mat-error
                *ngIf="(vacancyFormControl.description.touched || submitted) && vacancyFormControl.description.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <mat-label class="required-field">Requirements</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(vacancyFormControl.requirements.touched || submitted) && vacancyFormControl.requirements.invalid ? 'invalid-input' : ''">
                <textarea matInput type="text" autocomplete="off" formControlName="requirements"
                    placeholder="Enter text" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="12"
                    cdkAutosizeMaxRows="12"></textarea>
            </mat-form-field>
            <mat-error
                *ngIf="(vacancyFormControl.requirements.touched || submitted) && vacancyFormControl.requirements.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <mat-label class="required-field">Project</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(vacancyFormControl.projectId.touched || submitted) && vacancyFormControl.projectId.invalid ? 'invalid-input' : ''">
                <mat-select formControlName="projectId" placeholder="Select project">
                    <input matInput class="search-input" type="text" autocomplete="off" placeholder="Search project..."
                        (keyup)="onKey($event)">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let project of selectedProjects" [value]="project.id">{{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-error
                *ngIf="(vacancyFormControl.projectId.touched || submitted) && vacancyFormControl.projectId.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <div class="input-rows">
                <div class="form-container">
                    <mat-label class="required-field">Salary range</mat-label>
                    <div class="range-rows">
                        <div>
                            <mat-form-field appearance="fill"
                                [ngClass]="(vacancyFormControl.salaryFrom.touched || submitted) && vacancyFormControl.salaryFrom.invalid ? 'invalid-input' : ''">
                                <input matInput type="text" autocomplete="off" formControlName="salaryFrom"
                                    placeholder="from">
                            </mat-form-field>
                            <mat-error
                                *ngIf="(vacancyFormControl.salaryFrom.touched || submitted) && vacancyFormControl.salaryFrom.errors?.required">
                                This field is required
                            </mat-error>
                        </div>
                        <div class="center">
                            <h1>-</h1>
                        </div>
                        <div>
                            <mat-form-field appearance="fill"
                                [ngClass]="(vacancyFormControl.salaryTo.touched || submitted) && (vacancyFormControl.salaryTo.invalid || vacancyForm.errors?.salaryRangeIsWrong) ? 'invalid-input' : ''">
                                <input matInput type="text" autocomplete="off" formControlName="salaryTo"
                                    placeholder="to">
                            </mat-form-field>
                            <mat-error
                                *ngIf="(vacancyFormControl.salaryTo.touched || submitted) && vacancyFormControl.salaryTo.errors?.salaryRangeIsWrong">
                                The first value of salary should be less
                            </mat-error>

                            <mat-error
                                *ngIf="(vacancyFormControl.salaryTo.touched || submitted) && vacancyFormControl.salaryTo.errors?.required">
                                This field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
                <div class="form-container">
                    <mat-label class="required-field">Tier range</mat-label>
                    <div class="range-rows">
                        <div>
                            <mat-form-field appearance="fill"
                                [ngClass]="(vacancyFormControl.tierFrom.touched || submitted) && vacancyFormControl.tierFrom.invalid ? 'invalid-input' : ''">
                                <mat-select formControlName="tierFrom" placeholder="from">
                                    <mat-option>None</mat-option>
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="6">6</mat-option>
                                    <mat-option value="7">7</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error
                                *ngIf="(vacancyFormControl.tierFrom.touched || submitted) && vacancyFormControl.tierFrom.errors?.required">
                                This field is required
                            </mat-error>
                        </div>
                        <div class="center">
                            <h1>-</h1>
                        </div>
                        <div>
                            <mat-form-field appearance="fill"
                                [ngClass]="(vacancyFormControl.tierTo.touched || submitted) && vacancyFormControl.tierTo.invalid ? 'invalid-input' : ''">
                                <mat-select formControlName="tierTo" placeholder="to">
                                    <mat-option>None</mat-option>
                                    <mat-option *ngIf="isTierFromLessTierTo(1)" value="1">1</mat-option>
                                    <mat-option *ngIf="isTierFromLessTierTo(2)" value="2">2</mat-option>
                                    <mat-option *ngIf="isTierFromLessTierTo(3)" value="3">3</mat-option>
                                    <mat-option *ngIf="isTierFromLessTierTo(4)" value="4">4</mat-option>
                                    <mat-option *ngIf="isTierFromLessTierTo(5)" value="5">5</mat-option>
                                    <mat-option *ngIf="isTierFromLessTierTo(6)" value="6">6</mat-option>
                                    <mat-option *ngIf="isTierFromLessTierTo(7)" value="7">7</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-error
                                *ngIf="(vacancyFormControl.tierTo.touched || submitted) && vacancyFormControl.tierTo.errors?.required">
                                This field is required
                            </mat-error>
                            <mat-error
                                *ngIf="(vacancyFormControl.tierTo.touched || submitted) && vacancyFormControl.tierTo.errors?.is">
                                This field is required
                            </mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <mat-label class="required-field">Link to the jobs sites</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(vacancyFormControl.link.touched || submitted) && vacancyFormControl.link.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="link" placeholder="Enter link">
            </mat-form-field>
            <mat-error
                *ngIf="(vacancyFormControl.link.touched || submitted) && vacancyFormControl.link.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <mat-error
                *ngIf="(vacancyFormControl.link.touched || submitted) && vacancyFormControl.link.errors?.pattern">
                Link format is wrong
            </mat-error>
            <mat-label>Tags</mat-label>
            <mat-form-field appearance="fill">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(tag)">
                        {{tag.tagName}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input autocomplete="off" formControlName="tags" placeholder="Enter tags"
                        [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
            <div class="checkboxes">
                <mat-checkbox formControlName="isHot">Hot vacancy</mat-checkbox>
                <mat-checkbox formControlName="isRemote">Is remote</mat-checkbox>
            </div>
            <div class="workflow-container" [ngClass]="isOpenCreateStage ? 'workflow-container-created' : ''">
                <h2><b>Workflow</b></h2>
                <div>
                    <div #contenedor class="example-list" [ngClass]="isOpenCreateStage ? 'stage-created' : ''" cdkDropListGroup>
                        <ng-container *ngFor="let _stage of sortStageList();let i=index">
                            <div class="example-box"  cdkDropList cdkDropListOrientation="horizontal"
                                [cdkDropListData]="{item:_stage,index:i}" (cdkDropListDropped)="dropStage($event)">
                                <div cdkDrag>
                                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                                    <app-stage [stage]=_stage (isDeletedStage)="onDeleteStage($event)"
                                        (isEditStage)="onEditStage($event)"></app-stage>
                                </div>
                            </div>
                        </ng-container>
                        <button mat-stroked-button class="add-stage-button" *ngIf="!isOpenCreateStage"
                            (click)="displayCreateStage()">+ Add new stage</button>
                    </div>
                </div>
                <div class="edit-stage" *ngIf="isOpenCreateStage" [ngClass]="this.stageList.length === 0 ? 'stage0' : '' ">
                    <app-create-stage [stage]="stageToEdit" (stageChange)="saveStage($event)"
                        (stageCreateAndAddChange)="saveStageAndAdd($event)" (isClosedChange)="cancelStageEdit()">
                    </app-create-stage>
                </div>
            </div>
            <button mat-button type="submit" *ngIf="!data.vacancyToEdit" style="margin-bottom:50px"
                [disabled]="vacancyForm.invalid" (click)="createVacancy()">Save</button>
            <button mat-button type="submit" *ngIf="data.vacancyToEdit" style="margin-bottom:50px"
                [disabled]="vacancyForm.invalid" (click)="createVacancy()">Save changes</button>
        </form>
    </div>