h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

.center{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

::ng-deep .applicants-csv-modal .mat-dialog-container{
    padding-bottom: 0;
}