$primary-color-icons: #4f00b5;
$primary-color: #ee2a64;
$primary-color-white: #f6f7f9;
$primary-color-blue: #291965;
$primary-font: Nunito;

.clickable {
  cursor: pointer;
}
li.dates {
  border: 1px solid #ccc;
  cursor: pointer;
  height: 70px;
  text-align: right;
}
.horizontaly {
  display: grid;
  grid-template-columns: auto 10px;
}
.vertical {
  display: grid;
  grid-template-rows: 90px auto;
  text-align: left;
  justify-self: start;
}
.icon {
  padding: 0;
  margin: 0;
}
.scroll {
  overflow-y: scroll;
  overflow-x: auto;
  height: calc(100vh - 190px);
  margin: 10px;
  margin-bottom: 0;
  border-radius: 1.5%;

  .calendar-table {
    margin-bottom: 0;
  }
}
.space-out {
  height: 100%;
  padding-bottom: 20px;
}
.purpleColors {
  background-color: #ec4f9326;
  border: 1px solid #da5a92;
}
.blueColors {
  border: 1px solid #2658e8;
  background-color: #d9e6fd;
}
.orangeColors{
  border: 1px solid #eb703c;
  background-color: #F08356;
}
.needReviewColors{
  border: 2px solid #e8e526;
  background-color: #f7fca0;
  color: black;
}
.need-review{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  color: #4f00b5;
  cursor: pointer;
  z-index: 100;

  ::ng-deep .mat-icon {
    margin-right: 10px;
  }
}
.extra {
  text-align: left;
  width: min-content;
  word-wrap: nowrap;
  margin: 5px;
  padding: 0 10px;
  border-radius: 10%;
  padding-bottom: 0px;
  font-size: 12px;
  cursor: pointer;
}
.btn {
  height: 100%;
  cursor: pointer;
}
.grey {
  color: #b8b8b8;
}
.selected {
  background-color: #948cb226;
}
.blue {
  background-color: #f0f3f9;
}
.tub {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 10px;
  line-height: 22px;
}
.controls {
  position: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 230px 200px 1fr;
}
.dates {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 4px;
  bottom: 10px;
}
.toogle{
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.today {
  display: grid;
  text-align: left;
  grid-template-columns: auto 1fr;
  border: 1px solid #4808ae;
  color: $primary-color-icons;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  margin-left: 10px;
}
.today > div {
  padding-left: 10px;
  padding-top: 2px;
}
.calendar-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #dee2e6;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #fff;
}
.calendar-day-header {
  text-align: right;
  vertical-align: top;
}
.calendar-table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  vertical-align: bottom;
  border-top: none;
  border-left: none;
  border-right: none;
  z-index:10;
  border-bottom: 1px solid #dee2e6;
  width: 14.2%;
}

.calendar-table td,
.calendar-table th {
  border: 1px solid #dee2e6;
}

.calendar-table td {
  padding-left: 0.75rem;
  padding-bottom: 10px;
  padding-top: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 5px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.calendar-table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  overflow-y: auto;
}

.calendar-day {
  height: 10vh;
  max-height: 10vh;
}

.calendar-items-wrapper {
  margin-left: -10px;
  margin-right: -10px;
  overflow-y: auto;
  max-height: calc(100% - 20px);
}

.calendar-day.past-date {
  background-color: rgb(248, 248, 248);
}

.calendar-day:hover {
  background-color: rgb(248, 248, 248);
}

.blue-date {
  color: #4808ae;
  position: relative;
}
.blue-date::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  border: 1px solid #4808ae !important;
}

.mat-button.mat-button.create-button{
  width: 175px;
  height: 40px;
  z-index:2;
  justify-self: end;
}