<div class="form-container white-class" >
    <h1 mat-title>Create stage</h1>
    <form [formGroup]="stageForm">
        <mat-label>Stage name</mat-label>
        <mat-form-field appearance="fill"  [ngClass]="(stageFormControl.name.touched || submitted) && stageFormControl.name.invalid ? 'invalid-input' : ''">
            <input matInput type="text" autocomplete="off" formControlName="name" placeholder="Enter stage name">
            <mat-error *ngIf="(stageFormControl.name.touched || submitted) && stageFormControl.name.errors?.required">
              This field shouldn't be empty
          </mat-error>
          </mat-form-field>
        <mat-label>Action</mat-label>
    <mat-form-field appearance="fill" [ngClass]="(stageFormControl.action.touched || submitted) && stageFormControl.action.invalid ? 'invalid-input' : ''">
        <mat-select #fontSize placeholder="Select action" formControlName="action">
            <mat-option >None</mat-option>
          <mat-option value="Add task">Add task</mat-option>
          <mat-option value="Prepare questions for interview">Prepare questions for interview</mat-option>
          <mat-option value="Create a test">Create a test</mat-option>
        </mat-select>
        <mat-error *ngIf="(stageFormControl.action.touched || submitted) && stageFormControl.action.errors?.required">
              This field shouldn't be empty
          </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="isReviewable">Review required</mat-checkbox>
      <mat-label>Rates</mat-label>
      <mat-form-field appearance="fill" [ngClass]="(stageFormControl.rates.touched || submitted) && stageFormControl.rates.invalid ? 'invalid-input' : ''">
        <mat-select #fontSize placeholder="Select rates" formControlName="rates">
            <mat-option >None</mat-option>
          <mat-option value="Communicative skills">Communicative skills</mat-option>
          <mat-option value="English">English</mat-option>
        </mat-select>
        <mat-error *ngIf="(stageFormControl.rates.touched || submitted) && stageFormControl.rates.errors?.required">
              This field shouldn't be empty
          </mat-error>
      </mat-form-field>
    </form>
    <div class="buttons">
        <button mat-button mat-raised-button  (click)="onStageSave()" [disabled]="stageForm.invalid">Save</button>
        <button mat-button mat-raised-button  (click)="onSaveAndAdd()" [disabled]="stageForm.invalid">Save and add another</button>
        <button mat-button class="mat-accent" (click)="onStageClose()">Cancel</button>
    </div>
</div>