<app-spinner [loading]="loading"></app-spinner>
<div class="edit-vacancy-container" >
    <div class="modal-top">
        <h1 mat-dialog-title *ngIf="this.data.userToEdit"><b>User edit form</b></h1>
        <h1 mat-dialog-title *ngIf="!this.data.userToEdit"><b>User create form</b></h1>
        <button mat-icon-button aria-label="Close" (click)="this.dialogRef.close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <h2><b>Main info</b></h2>
    <div mat-dialog-content>
        <form class="form-container" [formGroup]="profileForm">
            <mat-label class="required-field">First name</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(profileFormControl.firstName.touched || submitted) && profileFormControl.firstName.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="firstName" placeholder="Enter first name">
            </mat-form-field>
            <mat-error
                *ngIf="(profileFormControl.firstName.touched || submitted) && profileFormControl.firstName.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <mat-label class="required-field">Last name</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(profileFormControl.lastName.touched || submitted) && profileFormControl.lastName.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="lastName" placeholder="Enter last name">
            </mat-form-field>
            <mat-error
                *ngIf="(profileFormControl.lastName.touched || submitted) && profileFormControl.lastName.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <mat-label class="required-field">Email</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(profileFormControl.email.touched || submitted) && profileFormControl.email.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="email" placeholder="Enter email">
            </mat-form-field>
            <mat-error
                *ngIf="(profileFormControl.email.touched || submitted) && profileFormControl.email.errors?.required">
                This field shouldn't be empty
            </mat-error>
            <h2><b>Contacts</b></h2>
            <div class="input-rows">
            <div>
            <mat-label class="required-field">Phone</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(profileFormControl.phone.touched || submitted) && profileFormControl.phone.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="phone" placeholder="Enter phone">
            </mat-form-field>
            <mat-error
                *ngIf="(profileFormControl.phone.touched || submitted) && profileFormControl.phone.errors?.required">
                This field shouldn't be empty
            </mat-error>
            </div>
            <div>
            <mat-label class="required-field">Skype</mat-label>
            <mat-form-field appearance="fill"
                [ngClass]="(profileFormControl.skype.touched || submitted) && profileFormControl.skype.invalid ? 'invalid-input' : ''">
                <input matInput type="text" autocomplete="off" formControlName="skype" placeholder="Enter email">
            </mat-form-field>
            <mat-error
                *ngIf="(profileFormControl.skype.touched || submitted) && profileFormControl.skype.errors?.required">
                This field shouldn't be empty
            </mat-error>
            </div>
            </div>
            <button mat-button type="submit" *ngIf="!this.data.userToEdit" style="margin-bottom:50px"
                [disabled]="profileForm.invalid" (click)="createUser()">Publish</button>
            <button mat-button type="submit" *ngIf="this.data.userToEdit" style="margin-bottom:50px"
                [disabled]="profileForm.invalid" (click)="createUser()">Save changes</button>
        </form>
    </div>