mat-sidenav {
    width: 180px;
    max-width: 180px;
    border: none;
    text-align: left;
}
.content {
    height: 100%;
    margin: 16px;
    margin-left: 32px;
}
mat-sidenav-container {
    height: 100%;
}