<div class="dialog-title" mat-dialog-title>
    <h1>{{formType}} task form</h1>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
</div>
<div class="form-control">
  <form [formGroup]="taskForm">
    <div class='name-status'>
      <div [ngClass]="formType.toLowerCase()" class="name">
        <h5 class="required-field">Task name</h5>
        <mat-form-field floatLabel='never' class="al-subscribe-form-field" [ngClass]="getClass('name')">
          <input matInput type="text" formControlName="name" [(ngModel)]="task.name" placeholder="Enter name of task">
        </mat-form-field>
        <div class="custom-error" *ngIf="this.taskForm.controls['name'].dirty && this.taskForm.controls['name'].errors?.required">
          Please fill name of task.
        </div>
        <div class="custom-error" *ngIf="this.taskForm.controls['name'].dirty && this.taskForm.controls['name'].errors?.minlength">
          Name must be at least 3 characters long.
        </div>
        <div class="custom-error" *ngIf="this.taskForm.controls['name'].dirty && this.taskForm.controls['name'].errors?.maxlength">
          Name must be not greater than 100 characters long.
        </div>
      </div>      
      <!-- <div [ngClass]="editMode()" class="is-done">       -->
      <div *ngIf="formType === 'Edit'" class="is-done">
        <h5>Task status</h5>
        <mat-checkbox formControlName="isDone" [(ngModel)]="task.isDone">Done</mat-checkbox>
      </div>      
    </div>
    <h5 class="required-field">Applicant</h5>
    <mat-form-field floatLabel='never' class="al-subscribe-form-field" [ngClass]="getClass('applicant')">      
        <input appTabDirective type="text" placeholder="Select applicant" matInput formControlName="applicant" [(ngModel)]="task.applicant" [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="true" [displayWith]="displayWith">          
          <mat-option *ngFor="let applicant of applicantsOptions | async" [value]="applicant">
            {{applicant.firstName}} {{applicant.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="custom-error" *ngIf="this.taskForm.controls['applicant'].dirty && this.taskForm.controls['applicant'].errors?.required">
        Applicant field is required
      </div>        
      <div class="custom-error" *ngIf="this.taskForm.controls['applicant'].dirty && this.taskForm.controls['applicant'].errors?.RequireMatch">
        You should enter value from suggested one only.          
      </div>
      <h5 class="required-field">Due Date</h5>
      <mat-form-field floatLabel="never">
          <input matInput [matDatepicker]="dp3" formControlName="dueDate" [(ngModel)]="task.dueDate" >
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <div class="custom-error" *ngIf="this.taskForm.controls['dueDate'].dirty && this.taskForm.controls['dueDate'].errors?.required">
        You should enter due date for task.          
      </div>
      <h5 class="required-field">Team members</h5>
    <div class='users'>
        <div class="user-wrapper" *ngFor="let user of task.teamMembers" [matTooltip]="user.firstName+' '+user.lastName">
          <img class="account-circle" alt="User profile photo" src="{{this.user.image}} " onError="this.src='../../../../assets/images/defaultAvatarSquare.png'">
          <mat-icon class='close' (click)=removeUser(user)>close</mat-icon>
        </div>
        <div class="add-user-select add">         
          <mat-select [(value)]="task.teamMembers" multiple [compareWith]="compareById" (selectionChange)="onUserChange($event)">
            <mat-option *ngFor="let user of data.users" [value]="user">{{user.firstName}} {{user.lastName}}</mat-option>
          </mat-select>
        </div>
        <!-- <mat-icon (click)=toogleUser() class="add">add</mat-icon> -->
    </div>
    <h5>Note</h5>
    <mat-form-field floatLabel='never' class="al-subscribe-form-field" class="textarea" [ngClass]="getClass('note')">
        <textarea matInput type="text" autocomplete="off" formControlName="note" placeholder="Enter note"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="12"
        cdkAutosizeMaxRows="12"></textarea>
    </mat-form-field>    
    <div class="login-button form-group">
      <button mat-button color="primary" (click)="save()" [disabled]="!taskForm.valid || (!this.taskForm.dirty && !usersToched)">Save</button>
    </div>
  </form>
</div>
