mat-sidenav {
    max-width: 225px;
  }
  
  .main-content-wrp {
    width: 100%;
    height: 100vh;
  
    .main-content {
      height: 100%;
      overflow-y: hidden;
    }
  }
  
  :host::ng-deep .mat-drawer-inner-container {
    overflow-y: auto;
    overflow-x: hidden;
  }
  