<app-spinner [loading]="loading"></app-spinner>
<div class="registration-container">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="registration-text"><span>Sign up</span></div>
        <div class="registration-input-first-name form-group">
            <div class="registration-input-title"><span class="required-field">First name</span></div>
            <mat-form-field floatLabel="never"
                [ngClass]="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userFirstName') ? 'invalid-input' : ''">
                <input matInput type="text" formControlName="userFirstName" placeholder="Enter your first name"
                    [(ngModel)]="userRegisterDto.firstName">
            </mat-form-field>
            <div *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userFirstName')">
                <div class="validation-error"
                    *ngIf="registrationForm.controls['userFirstName'].errors?.firstandlastname">
                    First name should start with upper letter, contain only latin letters, spaces and hyphens.
                </div>
                <div class="validation-error" *ngIf="registrationForm.controls['userFirstName'].errors?.required">
                    Please enter your first name.
                </div>
            </div>
        </div>
        <div class="registration-input-last-name form-group">
            <div class="registration-input-title"><span class="required-field">Last name</span></div>
            <mat-form-field floatLabel="never"
                [ngClass]="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userLastName') ? 'invalid-input' : ''">
                <input matInput type="text" formControlName="userLastName" placeholder="Enter your last name"
                    [(ngModel)]="userRegisterDto.lastName">
            </mat-form-field>
            <div *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userLastName')">
                <div class="validation-error"
                    *ngIf="registrationForm.controls['userLastName'].errors?.firstandlastname">
                    Last name should start with upper letter, contain only latin letters, spaces and hyphens.
                </div>
                <div class="validation-error" *ngIf="registrationForm.controls['userLastName'].errors?.required">
                    Please enter your last name.
                </div>
            </div>
        </div>
        <div class="registration-input-email form-group">
            <div class="registration-input-title"><span class="required-field">Email</span></div>
            <mat-form-field floatLabel="never"
                [ngClass]="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userEmail') ? 'invalid-input' : ''">
                <input matInput type="email" formControlName="userEmail" placeholder="Enter your Email"
                    [(ngModel)]="userRegisterDto.email">
            </mat-form-field>
            <div class="validation-error"
                *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userEmail') && registrationForm.controls['userEmail'].errors?.pattern">
                Please enter a valid address.
            </div>
            <div class="validation-error"
                *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userEmail') && this.registrationForm.controls['userEmail'].errors?.required">
                Please enter your email address.
            </div>
            <div class="validation-error"
                *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userEmail') && registrationForm.controls['userEmail'].errors?.unallowedcharacters">
                Your email must contain only latin letters, digits and special characters.
            </div>
        </div>
        <div class="registration-input-password form-group">
            <div class="registration-input-password-title-block">
                <div class="registration-input-title"><span class="required-field">Password</span></div>
            </div>
            <mat-form-field floatLabel="never"
                [ngClass]="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userPassword') ? 'invalid-input' : ''">
                <input matInput [type]="isPasswordHide ? 'password' : 'text'" formControlName="userPassword"
                    [placeholder]="isPasswordHide ? '••••••••' : 'Enter your password'" autocomplete="on"
                    [(ngModel)]="userRegisterDto.password">
                <mat-icon class="registration-show-password" matSuffix (click)="isPasswordHide = !isPasswordHide">
                    {{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userPassword')">
                <div class="validation-error" *ngIf="registrationForm.controls['userPassword'].errors?.required">
                    Please enter your password.
                </div>
                <div class="validation-error"
                    *ngIf="loginRegistCommonComponent.checkIsPasswordValid(registrationForm,'userPassword')">
                    <span>Password length must be min. 8 symbols.</span>
                </div>
                <div class="validation-error" *ngIf="registrationForm.controls['userPassword'].errors?.whitespace">
                    <span>Your password cannot contain spaces.</span>
                </div>
            </div>
        </div>
        <div class="registration-input-password form-group">
            <div class="registration-input-password-title-block">
                <div class="registration-input-title"><span class="required-field">Password confirmation</span></div>
            </div>
            <mat-form-field floatLabel="never" [ngClass]="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userPasswordConfirmation')
                || registrationForm.errors?.mismatch ? 'invalid-input' : ''">
                <input matInput [type]="isPasswordConfirmHide ? 'password' : 'text'"
                    formControlName="userPasswordConfirmation"
                    [placeholder]="isPasswordConfirmHide ? '••••••••' : 'Enter your password'" autocomplete="on">
                <mat-icon class="registration-show-password" matSuffix
                    (click)="isPasswordConfirmHide = !isPasswordConfirmHide">
                    {{isPasswordConfirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userPasswordConfirmation')">
                <div class="validation-error"
                    *ngIf="registrationForm.controls['userPasswordConfirmation'].errors?.required">
                    Please enter your password second time.
                </div>
            </div>
            <div class="validation-error" *ngIf="registrationForm.errors?.invalid && registrationForm.errors?.mismatch">
                Password confirmation doesn’t match password.
            </div>
        </div>
        <div class="registration-input-birthdate form-group">
            <div class="registration-input-title"><span class="required-field">Birthdate</span></div>
            <mat-form-field floatLabel="never" class="birthdate-form-field"
                [ngClass]="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userBirthdate') ? 'invalid-input' : ''">
                <input matInput [matDatepicker]="picker" name="date" formControlName="userBirthdate"
                    placeholder="dd/mm/yyyy" [(ngModel)]="userRegisterDto.birthDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="loginRegistCommonComponent.checkIsControlValid(registrationForm,'userBirthdate')">
                <div class="validation-error" *ngIf="registrationForm.controls['userBirthdate'].errors?.matDatepickerParse
                    || registrationForm.controls['userBirthdate'].errors?.required">
                    Please enter valid birthdate.
                    Validate format is DD/MM/YEAR.
                </div>
                <div class="validation-error" *ngIf="registrationForm.controls['userBirthdate'].errors?.datevalidate">
                    The user cannot be younger than 16 years old
                </div>
            </div>
        </div>
        <div class="registration-button form-group">
            <button mat-button color="primary" [disabled]="loading || !registrationForm?.valid">Sign up</button>
        </div>
    </form>
</div>