@import "../../../../common.scss";

.mat-toolbar {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;
}

.mat-toolbar .mat-icon {
  color: white;
  font-size: 27px;
}

.small-image{
  object-fit: cover;
width: 45px;
height: 45px;
border-radius: 50%;
grid-column: 1;
  grid-row: 1/3;
}

.grid-user-info{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  align-items: center;
  height: 65px;
}

.user-name{
  font-size: 17px;
  font-weight: 600;
  grid-row: 1/2;
  grid-column: 1/2;
  height: 100%;
}
.notifications{
  margin-top: 20px;
  width: 200px;
}
.user-role{
  height: 100%;
  font-size: 14px;
}

.user-role > *{
  display: flex;
  align-items: center;
  height: 100%;
}

.todo-action{
  font-size: 19px;
  margin:0px !important;
}

:host ::ng-deep .mat-badge-content {
  right: 2px !important;
  top: 2px !important;
  width: 8px;
  height: 8px;
  &.jobs-list-cell {
    overflow: visible;
    width: fit-content;
    max-width: none;
  }
}

.mat-toolbar > * {
  margin-left: 20px;
}

.avatar-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .mat-icon-button {
    width: auto;
    height: auto;
  }
}

.mat-badge-content {
  width: 10px;
  height: 10px;
  top: 0px;
  right: 0px;
}

img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
