<app-spinner [loading]="loading"></app-spinner>
<mat-toolbar>
  <app-button *ngIf="!removeButton">
    + New vacancy
  </app-button>
  <app-search-form>
    <ng-content></ng-content>
  </app-search-form>
  <button mat-icon-button>
    <mat-icon matBadge="&#8288;" matBadgeColor="primary" matBadgeSize="small">notifications</mat-icon>
  </button>
  <div class="avatar-info">
    <img
      src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-733872.jpg&fm=jpg"
      alt="Avatar"
    />
    <button mat-icon-button [matMenuTriggerFor]="dropdown">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #dropdown="matMenu">
      <button mat-menu-item (click)="logout()">
        Log out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
