@import "../../../../common.scss";

.topic {
  padding: 3px 5px;
  border-radius: 1px;
  font-size: 12px;
  background-color: $primary-color;
  color: white;
  margin-right: 2px;
  width: min-content;
  display: inline-block;
}
