@import "../../../../common.scss";

.topics {
  overflow-x: scroll;

  &.styled {
    padding: 5px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

::ng-deep {
  .mat-select {
    .mat-select-value {
      max-width: unset;
    }
  }
}

.mat-form-field-wrapper ::ng-deep .mat-select {
  height: 100%;

  .mat-select-trigger {
    height: 100%;

    .mat-select-placeholder {
      padding-top: 5px;
      box-sizing: border-box;
    }
  }
}
