$primary-color-white: #f6f7f9;

.dialog-header-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    height: min-content;
    align-items: flex-start;
}

.mat-dialog-title {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    height: min-content;
}

.mat-dialog-actions {
    height: min-content;
    padding: 0;
    flex-wrap: nowrap;
    align-items: flex-end;
    min-height: 0;

    .mat-icon {
        color: #000;

        &:hover {
            cursor: pointer;
            color: #ee2a64;
        }
    }
}

.applicant-form {
    margin-bottom: 24px;
    
    p {
        font-size: 12px;
        margin: 10px 0 0 0;
    }
}

:host ::ng-deep .mat-button {
    width: 170px;

    .mat-button-disabled {
        background-color: #919398;
        color: #f6f7f9 !important;
    }
}

:host ::ng-deep .mat-form-field {
    width: 100%;
    margin-bottom: 5px;

    &.wide .mat-form-field-wrapper {
        height: 135px;
    }
    &.wide .mat-form-field-flex {
        height: 90%;
        margin-top: 20px;
        padding: 0;
        background-color: transparent;
    }
    
    textarea.mat-input-element {
        resize: none;
        height: 90%;
    }
    

    .mat-form-field-flex {
        background: none;
        padding-left: 0;
        padding-right: 0;
    }

    .mat-input-element {
        height: 2em;
        font-size: 12px;
        color: #424242;
    }

    .mat-form-field-wrapper {
        max-width: none;
        background: #f6f7f9;
        padding: 0 5px 0 15px;
        box-sizing: border-box;
        border-radius: 10px;
        height: 40px;
        width: 100%;
        line-height: 1;

        .mat-form-field-subscript-wrapper {
            margin-top: 17px;
            width: calc(100% - 60px);
        }
    }

    .mat-error {
        margin-top: 3px;
        font-size: 2em;
    }
}

:host ::ng-deep .mat-form-field-wrapper {
    height: 50px;
}