@import "../../../../common.scss";

.topic {
  padding: 0px 5px;
  border-radius: 2px;
  margin-right: 2px;
  font-size: 12px;
  background-color: $primary-color;
  color: white;
  width: min-content;
  height: min-content;
  display: inline-flex;
  align-items: center;

  .text {
    max-width: 100px;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .icon {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
  }
}
