$primary-font: Nunito;
$primary-color: #291965;
$primary-color-white: #f6f7f9;

.send-register-link-dialog-container {
    margin: auto;

    .mat-dialog-title {
        display: flex;
        justify-content: left;
        align-items: center;
        column-gap: 42px;
        margin-bottom: 10px;
    }

    .send-register-link-dialog-back-button {
        cursor: pointer;
        color: $primary-color;
    }

    .mat-dialog-title span {
        font-family: $primary-font;
        font-size: 24px;
        font-weight: 600;
        line-height: 33px;
        letter-spacing: 0em;
        color: $primary-color;
    }

    .mat-dialog-content p {
        text-align: center;
    }

    .send-register-link-dialog-input-email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input:-webkit-autofill {
        box-shadow: 0 0 0px 1000px #f0f0f0 inset;
    }

    .mat-button {
        width: 160px;
        height: 40px;
    }

    .mat-dialog-actions {
        display: flex;
        justify-content: center;
    }
}

::ng-deep .mat-dialog-container .send-register-link-dialog-container {
    .mat-button:disabled {
        background-color: lightgray;
    }
    .mat-form-field-wrapper.mat-form-field-wrapper {
        width: 250px;
        max-width: 100%;
        color: #000;
        background-color: rgba(226, 226, 226, 0.5);
    }
}