<app-header></app-header>
<div class="tub">Calendar</div>
<div class="controls">
  <span class="clickable" mat-button (click)="decreaseMonth()" value="-">&lt;</span>
  <span class="tub">
    {{displayMonth}}
  </span>
  <span class="clickable" mat-button  (click)="increaseMonth()" value="+">&gt;</span>
</div>
<table class='calendar-table' *ngIf="calendar">
  <thead>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of calendar | chunk: 7; let i = index">
      <td class="calendar-day" [ngClass]="{'blue': isWeekend(c.date)}" *ngFor="let c of row; let j = index">
        <div (click)="debug(c.date)" class="calendar-day-header" [ngClass]="{'blue-date': c.isToday}">
            <span [ngClass]="{'grey':!isSameMonth(c.date)}">{{c.date.getDate()}}</span>
            
        </div>
      </td>
    </tr>
  </tbody>
</table>