    $primary-color-icons: #4f00b5;
    $primary-color: #ee2a64;
    $primary-color-white: #f6f7f9;
    $primary-color-blue: #291965;
    $primary-font: Nunito;
    
    .clickable{
        cursor: pointer;
    }
    li.dates{
        border: 1px solid #ccc;
        cursor: pointer;
        height: 70px;
        text-align: right;
    }
    li.dates>span{
        line-height: 30px;
        padding: 10px;
    }
    li.days {
        margin:  1px;
        text-align: center;
    }
    .grey {color: red}
    .selected 
    {background-color: #948CB226;}
    .blue{
        background-color: #F0F3F9;
    }
    .tub
    {
        font-family: $primary-font;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        margin: 10px;
        line-height: 22px;
    }
    .controls{
        text-align: center;
    }
    .calendar-table {
        border-collapse: collapse;
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        border: 1px solid #dee2e6;
        background-color: #fff;
      }
      
      .calendar-day-header{
        text-align: right;
        vertical-align: top;
      }
      .calendar-table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
        width: 14.2%;
      }
      
      .calendar-table td, .calendar-table th {
        border: 1px solid #dee2e6;
      }
      
      .calendar-table td, .calendar-table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
      
      .calendar-day {
        height: 12vh;
        max-height: 12vh;
        cursor: pointer;
      }
      
      .calendar-items-wrapper {
        margin-left: -10px;
        margin-right: -10px;
        overflow-y: auto;
        max-height: calc(100% - 20px);
      }
      
      .calendar-day.past-date {
        background-color: rgb(248, 248, 248);
      }
      
      .calendar-day:hover {
        background-color: rgb(248, 248, 248);
      }
      
      .blue-date {
        color: rgb(16, 110, 190);
      }
      