@import '/src/common.scss';

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.mat-table {
    width: 100%;
}

.mat-table .mat-icon {
    color : $primary-color-darkgrey;
    cursor: pointer;
}
