<div class="project-add-container">
    <app-spinner [loading]="loading"></app-spinner>
    <h1>Template creation form</h1>
    <div mat-dialog-actions>
        <mat-icon class="close-dialog" (click)="onFormClose()">close</mat-icon>
    </div>
    
    <div class="form-container">
        <form [formGroup]="mailTemplateCreateForm" (ngSubmit)="onSubmited()">
            <h5 class="required-field">Title</h5>
            <mat-form-field floatLabel="never" [ngClass]="this.mailTemplateCreateForm.controls['slug'].dirty && this.mailTemplateCreateForm.controls['slug'].errors? 'invalid-input': ''">
                <input matInput type="text" formControlName="slug" placeholder="Enter name project">
            </mat-form-field>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['slug'].dirty && this.mailTemplateCreateForm.controls['slug'].errors?.required">
                Is required.
            </div>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['slug'].dirty && this.mailTemplateCreateForm.controls['slug'].errors?.minlength">
                Title must be at least 3 characters long.
            </div>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['slug'].dirty && this.mailTemplateCreateForm.controls['slug'].errors?.maxlength">
                Title must be not greater than 15 characters long.
            </div>
    
            <h5 class="required-field">Subject</h5>
            <mat-form-field floatLabel="never" [ngClass]="this.mailTemplateCreateForm.controls['subject'].dirty && this.mailTemplateCreateForm.controls['subject'].errors? 'invalid-input': ''">
                <input matInput type="text" formControlName="subject" placeholder="Enter logo link">
            </mat-form-field>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['subject'].dirty && this.mailTemplateCreateForm.controls['subject'].errors?.required">
                Is required.
            </div>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['subject'].dirty && this.mailTemplateCreateForm.controls['subject'].errors?.minlength">
                Subject must be at least 3 characters long.
            </div>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['subject'].dirty && this.mailTemplateCreateForm.controls['subject'].errors?.maxlength">
                Subject must be not greater than 15 characters long.
            </div>
    
            <h5 class="required-field">Mail text</h5>
            <angular-editor matInput type="text" id="editor1" class="wide example-full-width" formControlName="html" [config]="editorConfig"  [ngClass]="this.mailTemplateCreateForm.controls['html'].dirty && this.mailTemplateCreateForm.controls['html'].errors? 'invalid-input': ''"></angular-editor>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['html'].dirty && this.mailTemplateCreateForm.controls['html'].errors?.required">
                Is required.
            </div>
            <div class="validation-error" *ngIf="this.mailTemplateCreateForm.controls['html'].dirty && this.mailTemplateCreateForm.controls['html'].errors?.minlength">
                Mail text must be at least 10 characters long.
            </div>

            <p>Existed attachments</p>
            <app-files-edit [files]="mailTemplate.mailAttachments"></app-files-edit>

            <h5 class="required-field">Attachments</h5>
            <app-file-input (upload)="uploadAttachments($event)" ></app-file-input>

            <mat-checkbox formControlName="visibilitySetting">Visible only for the creator</mat-checkbox>

            <button mat-button mat-dialog-close type="submit" [disabled]="!mailTemplateCreateForm.valid || !this.mailTemplateCreateForm.dirty">Publish</button>
        </form>
    </div>
</div>