<div class="draggable card" [id]="candidate.id" cdkDrag *ngIf="isDraggable">
  <div class="user-data">
    <img class="avatar" src="../../../../assets/images/defaultAvatar.png" />
    <div class="texts">
      <div>{{ candidate.applicant.firstName }} {{ candidate.applicant.lastName }}</div>
      <a routerLink="/vacancy-candidate/{{ candidate.id }}">View profile</a>
    </div>
  </div>
  <div class="meta data" *ngIf="date">
    {{ fromNow(date!) }}
  </div>
</div>
<div class="card" [id]="candidate.id" *ngIf="!isDraggable">
  <div class="user-data">
    <img class="avatar" src="../../../../assets/images/defaultAvatar.png" />
    <div class="texts">
      <div>{{ candidate.applicant.firstName }} {{ candidate.applicant.lastName }}</div>
      <a routerLink="/vacancy-candidate/{{ candidate.id }}">View profile</a>
    </div>
  </div>
  <div class="meta data" *ngIf="date">
    {{ fromNow(date!) }}
  </div>
</div>
