<div class="card" [ngClass]="{'draggable': isDraggable, 'not-viewed': !candidate.isViewed}" [id]="candidate.id" cdkDrag
  [cdkDragDisabled]="!isDraggable">
  <div class="user-data">
    <img class="avatar" [src]="getAvatar()" />
    <div class="texts">
      <div>{{ candidate.applicant.firstName }} {{ candidate.applicant.lastName }}</div>
      <div class="self-applied" *ngIf="candidate.isSelfApplied">
        <mat-icon>hail</mat-icon>
      </div>
      <a *ngIf="isClickable" (click)="emitClick()">{{ clickableText }}</a>
    </div>
  </div>
  <div class="meta data" *ngIf="!candidate.averageMark && candidate.averageMark !== 0">
    {{ candidate.dateAdded | timezone:"fromnow" }}
  </div>
  <div class="mark data" *ngIf="candidate.averageMark || candidate.averageMark === 0">
    <app-mark-bar [mark]="candidate.averageMark"></app-mark-bar>
  </div>
</div>