.mat-table {
    width: 100%;
}

.applicants-table .mat-list-base{
    padding: unset;
}

.tags-list {
    display: flex;

    .mat-list-item {
        width: min-content;
        height: min-content;
        padding: 4px 0;
        line-height: 1;
        font-size: 0.9em;
        color: rgba($color: (#291965), $alpha: 0.8);
        background-color: rgba($color: (#291965), $alpha: 0.1);
        font-weight: 700;
        border-radius: 15px;
        margin: 3px;
    
        &.more-button {
            background: none;
            cursor: pointer;
            padding: 1px 0;
            border: 2px solid rgba($color: (#291965), $alpha: 0.8);

            &:hover {
                box-shadow: 0 0 4px rgba($color: (#291965), $alpha: 0.5);
                text-shadow: 0 0 1px 1px rgba($color: (#291965), $alpha: 0.8);
            }
        }
    }
}

.dialog-title {
    display: flex;
    justify-content: space-between;
}

.modal-content {
    padding: 5px;
}

.modal-content h3 {
    margin: 5px 0;
}

.pool-create-info-wrapper {
    display: flex;    
    justify-content: flex-end;
    padding-bottom: 10px;
}

.description {
    height: 50px;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 9px;
}

