    .logo{
    background-color: rgb(245, 245, 245);
    color: rgb(179, 179, 179);
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    flex-shrink: 0;
  }
  .logo-container{
    padding-top: 25px;
    height: 15%;
    max-width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mat-nav-list button{
    font-size:13px;
    margin-left: 20px;
  }
  .minimized{
      .mat-line{
        // background-color: red;
        display: none !important;
      }
  }
  .sidenav_container {
    min-width: 60px;
    max-width: 180px;
    height: 100%;
  }
 :host::ng-deep .mat-list-item-content{
    font-size:13px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    .mat-list-text{
      padding-left:4px !important
    }
    
  }
  :host::ng-deep .mat-list-base .mat-list-item .mat-list-icon, .mat-list-base .mat-list-option .mat-list-icon{
    font-size: 20px;
    width: auto;
    height: auto;
  }
  :host ::ng-deep .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar{
    height: 45px !important
  }
  :host ::ng-deep .mat-list-base .mat-list-item .mat-line{
    white-space: initial;
    overflow: visible;
    text-overflow: unset;
    display: block;
    box-sizing: border-box;
  }