    .logo{
    background-color: rgb(245, 245, 245);
    color: rgb(179, 179, 179);
    
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 10px;
  }
  .logo-container{
    padding:10px 26px;
    height: 20%;
  }
 .mat-list-item{
    font-size:14px;
  }
  .mat-nav-list{
    padding: 10px;
  }