
    <div class="logo-container">
        <button class="logo">Logo</button>
    </div>
    <mat-nav-list>
        <mat-list-item routerLink='home' routerLinkActive='active'>
            <mat-icon matListIcon>home</mat-icon>
            <a matLine>Home</a>
        </mat-list-item>
        <mat-list-item routerLink='/vacancies' routerLinkActive='active'>
            <mat-icon matListIcon>work</mat-icon>
            <a matLine>Vacancies</a>
        </mat-list-item>
        <mat-list-item routerLink='/applicants' routerLinkActive='active'>
            <mat-icon matListIcon>person</mat-icon>
            <a matLine>Applicants</a>
        </mat-list-item>
        <mat-list-item routerLink='/interviews' routerLinkActive='active'>
            <mat-icon matListIcon>person</mat-icon>
            <a matLine>Interviews</a>
        </mat-list-item>
        <mat-list-item routerLink='/analytics' routerLinkActive='active'>
            <mat-icon matListIcon>person</mat-icon>
            <a matLine>Analytics</a>
        </mat-list-item>
        <mat-list-item routerLink='/taskManagement' routerLinkActive='active'>
            <mat-icon matListIcon>person</mat-icon>
            <a matLine>Task Management</a>
        </mat-list-item>
        <mat-list-item routerLink='/templates' routerLinkActive='active'>
            <mat-icon matListIcon>person</mat-icon>
            <a matLine>Templates</a>
        </mat-list-item>
    </mat-nav-list>