$row-height: 55px;

.page-content {
    padding: 45px 51px 0 0;
}

:host ::ng-deep .applicants-header-bar {
    display: flex;
    background: none;
    justify-content: space-between;
    padding: 0 0 30px 51px;

    .create-button {
        width: 153px;
    }

    .mat-form-field-wrapper {
        background-color: #fff !important;
    
        .mat-form-field-flex {
            background: none;
        }
    }
}

.mat-table {
    width: 100%;

    .mat-header-row {
        height: 30px;
    }

    .mat-row {
        height: $row-height;
    }

    .mat-cell {
        border: none;
        padding-right: 15px;

        &:not(.control-buttons-cell) {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            min-width: 50px;
            max-width: 250px;
        }

        .mat-list::-webkit-scrollbar {
            width: 2px;
            height: 2px;
        }

        .mat-list::-webkit-scrollbar-track {
            background: none;
        }

        .mat-list::-webkit-scrollbar-thumb {
            background-color: rgba($color: (#291965), $alpha: 0.5);
            border-radius: 5px;
        }

        .jobs-list {
            display: flex;
            font-size: 12px;
            padding: 0;
            flex-direction: column;
            height: 40px;
            overflow-y: scroll;

            .mat-list-item {
                font-size: 13px;
                height: 20px;
            }
        }

        .tags-list {
            height: $row-height;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fill, 1fr);
            grid-gap: 10px;
            max-width: 70%;
            overflow-x: scroll;
            display: flex;
            align-items: center;
            background: none;

            mat-list-item {
                grid-row: 1 / 2;
                width: max-content;
                height: min-content;
                padding: 2px 0;
                border-radius: 15px;
                background-color: #EE2A64;
                color: #fff;
            }
        }
    }
    
    .mat-row:nth-child(even) {
        background-color: #F0F3F9;
    }

    .control-buttons-cell .buttons-wrap {
        display: flex;
        justify-content: flex-end;
        align-content: center;

        .applicant-control-btn {
            color: #8E8E8E;
        }
    }
}