<app-header [removeApplicantButton]="true"></app-header>
<app-applicants-head (search)="applySearchValue($event)" (togglePage)="filter.setPage($event)"
    (applicantCreated)="createApplicant($event)" #head>
</app-applicants-head>
<app-table-filter #filter [description]="filterDescription" [pageDescription]="pageDescription" [data]="cashedData"
    pageToken="applicantPageToken" (filteredDataChange)="setFiltered($event)"></app-table-filter>
<div class="page-content">
    <app-spinner [loading]="loading"></app-spinner>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort matSortActive="creationDate" matSortDirection="desc" >
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let i = index"> {{ (i+1) + (paginator.pageIndex * paginator.pageSize)}}
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fullname </th>
                <td mat-cell *matCellDef="let applicant"> {{applicant.firstName}} {{applicant.lastName}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let applicant"> {{applicant.email}} </td>
            </ng-container>

            <ng-container matColumnDef="jobs_list">
                <th mat-header-cell *matHeaderCellDef> Vacancies </th>
                <td mat-cell *matCellDef="let applicant" class="jobs-list-cell">
                    <mat-list class="jobs-list" [class.jobs-pop-up-list]="applicant.vacancies.length > 2">
                        <mat-list-item *ngFor="let vacancy of applicant.vacancies; index as i">
                            {{vacancy.title}} for {{vacancy.project}} ({{vacancy.stage}})
                        </mat-list-item>
                    </mat-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="tags">
                <th mat-header-cell *matHeaderCellDef> Tags </th>
                <td mat-cell *matCellDef="let applicant" class="tags-list-cell"
                    [style.min-width]="applicant.isShowAllTags ? '150px' : '50px'">
                    <div class="outside-wrapper" *ngIf="applicant.isShowAllTags" (click)="toggleTags(applicant)"></div>
                    <mat-list *ngIf="!applicant.isShowAllTags" class="tags-list">
                        <mat-list-item class="tag" *ngFor="let tag of getFirstTags(applicant)"
                            (click)="onTagClick(tag)">
                            {{tag.tagName}}</mat-list-item>
                        <mat-list-item class="more-button" *ngIf="applicant.tags?.tagDtos.length > 6"
                            (click)="toggleTags(applicant)">
                            +{{applicant.tags.tagDtos.length - 5}} more
                        </mat-list-item>
                    </mat-list>

                    <div class="absolute-tags-list-container" *ngIf="applicant.isShowAllTags">
                        <div class="tags-pop-up-actions">
                            <button mat-icon-button (click)="toggleTags(applicant)">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                        <mat-list class="tags-list">
                            <mat-list-item class="tag" *ngFor="let tag of applicant.tags.tagDtos"
                                (click)="onTagClick(tag)">{{tag.tagName}}</mat-list-item>
                        </mat-list>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                <td mat-cell *matCellDef="let applicant"> {{ applicant.creationDate | timezone }} </td>
            </ng-container>

            <ng-container matColumnDef="control_buttons">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let applicant" class="control-buttons-cell">
                    <app-applicant-control [applicant]="applicant" (markAsFollowed)="onBookmark($event)"
                        (updateApplicantEvent)="updateApplicant($event)"
                        (deleteApplicantEvent)="deleteApplicant($event)"
                        (reloadApplicantsEvent)="getApplicants()">
                        </app-applicant-control>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    <p *ngIf="searchValue === ''">No data to display</p>
                    <p *ngIf="searchValue !== ''">No applicant name matching the filter "{{searchValue}}"</p>
                </td>
            </tr>

        </table>
        <mat-paginator class="mat-paginator-sticky" #paginator [pageSizeOptions]="[5, 10, 25, 100]" [showTotalPages]="5"
            [pageSize]="10" appStylePaginator></mat-paginator>
    </div>
</div>