<div class='vacancy-card-wrapper'>
    <h4 class="light">
        <mat-icon class="hot">local_fire_department</mat-icon>
        Hot vacancy
    </h4>
    <h2 class="bold">Vacancy name</h2>
    <div class='vacancy-summary-info'>
        <span>
            <mat-icon>person</mat-icon>
            10 candidates
        </span>
        <span>
            <mat-icon>verified_user</mat-icon>
            10 processed
        </span>
        <span>
            <mat-icon>event_available</mat-icon>
            0 interviews
        </span>
        <span>
            <mat-icon>fiber_new</mat-icon>
            0 new
        </span>
    </div>
</div>
