@import '/src/common.scss';

$card-width : 200px;
$card-height : 216px;

.vacancy-card-wrapper {    
    background-color: $primary-color-white;
    padding: 20px 10px 20px 10px;
    border-radius: 7px;
    font-family: $primary-font;   
}

.vacancy-card-wrapper h2,h3,h4 {
    margin-bottom: 5px;
}

.vacancy-card-wrapper h2 {
    font-weight: 700;
}


.vacancy-summary-info {
    display: grid;    
}

.vacancy-summary-info mat-icon{
    color:$primary-color-icons;
    vertical-align: middle;
    font-size: 20px;
}

.vacancy-summary-info span {
    min-width: 135px;
    vertical-align: middle;
    padding: 5px 0;
}

.hot {
    color: white;
    background: $primary-color;
    border-radius: 15px;
    padding: 2px;
    vertical-align: middle;
}