<div class="container">
  <div>
    <h2>Designer</h2>
  </div>
  <div>
    <mat-tab-group mat-align-tabs="start" (selectedIndexChange)="setFilter($event)">
      <mat-tab label="Qualified"></mat-tab>
      <mat-tab label="Disqualified"></mat-tab>
      <mat-tab label="Sourced"></mat-tab>
    </mat-tab-group>
  </div>
  <div class="board">
    <div
      class="column-wrp"
      id="list-{{ stage.id }}"
      cdkDropList
      [cdkDropListData]="stage.candidates"
      [cdkDropListConnectedTo]="listIds"
      (cdkDropListDropped)="onMove($event)"
      *ngFor="let stage of data"
    >
      <app-candidate-column
        [title]="stage.name"
        [data]="stage.candidates"
        [isDraggable]="true"
      ></app-candidate-column>
    </div>
  </div>
</div>
