.small-image{
    object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  grid-column: 1;
    grid-row: 1/3;
}

.grid-user-info{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    align-items: center;
    height: 65px;
}

.user-name{
    font-size: 17px;
    font-weight: 600;
}

.user-role{
    font-size: 14px;
}

.todo-action{
    font-size: 19px;
    margin:0px !important;
}