<!-- <div [matMenuTriggerFor]="menu" #menuTrigger>
    <ng-content></ng-content>
    </div>
    <mat-menu #menu="matMenu" class="menu">
            <div mat-menu-item class="grid-user-info" (click)="onOpenProfile()">
                <div class="user-name">
                    {{user.firstName}} {{user.lastName}} <mat-icon class="todo-action" mat-icon-button>edit</mat-icon>
                </div>
                <div class="user-role" *ngFor="let role of user.roles">
                {{role.name}}
                </div>
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="logout()">
                Log out
              </button>
    </mat-menu> -->