<app-spinner [loading]="loading"></app-spinner>
<div class="reset-password-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="reset-password-text"><span>Reset password</span></div>
        <div class="reset-password-input-password form-group">
            <div class="reset-password-input-password-title-block">
                <div class="reset-password-input-title"><span>Password</span></div>
            </div>
            <mat-form-field floatLabel="never"
                [ngClass]="loginRegistCommonComponent.checkIsControlValid(resetPasswordForm,'userPassword') ? 'invalid-input' : ''">
                <input matInput [type]="isPasswordHide ? 'password' : 'text'" formControlName="userPassword"
                    [placeholder]="isPasswordHide ? '••••••••' : 'Enter your password'" autocomplete="on">
                <mat-icon class="reset-password-show-password" matSuffix (click)="isPasswordHide = !isPasswordHide">
                    {{isPasswordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div *ngIf="loginRegistCommonComponent.checkIsControlValid(resetPasswordForm,'userPassword')">
                <div class="validation-error" *ngIf="resetPasswordForm.controls['userPassword'].errors?.required">
                    Please enter your password.
                </div>
                <div class="validation-error"
                    *ngIf="loginRegistCommonComponent.checkIsPasswordValid(resetPasswordForm,'userPassword')">
                    <span>Password length must be min. 8 symbols.</span>
                </div>
            </div>
        </div>
        <div class="reset-password-input-password form-group">
            <div class="reset-password-input-password-title-block">
                <div class="reset-password-input-title"><span>Password confirmation</span></div>
            </div>
            <mat-form-field floatLabel="never"
                [ngClass]="loginRegistCommonComponent.checkIsControlValid(resetPasswordForm,'userPasswordConfirmation') ? 'invalid-input' : ''">
                <input matInput [type]="isPasswordConfirmHide ? 'password' : 'text'" formControlName="userPasswordConfirmation"
                    [placeholder]="isPasswordConfirmHide ? '••••••••' : 'Enter your password'" autocomplete="on">
                <mat-icon class="reset-password-show-password" matSuffix (click)="isPasswordConfirmHide = !isPasswordConfirmHide">
                    {{isPasswordConfirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div *ngIf="loginRegistCommonComponent.checkIsControlValid(resetPasswordForm,'userPasswordConfirmation')">
                <div class="validation-error"
                    *ngIf="resetPasswordForm.controls['userPasswordConfirmation'].errors?.required">
                    Please enter your password secoond time.
                </div>
            </div>
            <div class="validation-error"
                *ngIf="resetPasswordForm.errors?.invalid && resetPasswordForm.errors?.mismatch">
                Passwords mismatch.
            </div>
        </div>
        <div class="reset-password-button form-group">
            <button mat-button color="primary" [disabled]="resetPasswordForm.invalid || !isRequestFinished">Confirm</button>
        </div>
    </form>
</div>