<button class="tub" [style.text-decoration]="!isFollowedPage ? 'underline' : 'none'" (click)="toggleFollowedOrAll(false)">All</button>
<button class="tub" [style.text-decoration]="isFollowedPage ? 'underline' : 'none'" (click)="toggleFollowedOrAll(true)">Followed</button>
<mat-form-field appearance="fill">
    <mat-icon>search</mat-icon>
    <input #input [(ngModel)]="searchValue" matInput type="text" class="search-input" placeholder="Search..." (keyup)="applySearchValue()">
</mat-form-field>
<button mat-button color="accent" class="csv-button" (click)="showUploadCSVDialog()">
    <mat-icon>attach_file</mat-icon>
    <span>Upload from CSV</span>
</button>
<app-button class="create-button" (click)="showApplicantsCreateDialog()">
    + New applicant
</app-button>
