<div class="project-add-container">
    <h1>Project creation form</h1>
    <div mat-dialog-actions>
        <mat-icon class="close-dialog" (click)="onFormClose()">close</mat-icon>
    </div>
    
    <div class="form-container">
        <form [formGroup]="projectCreateForm" (ngSubmit)="onSubmited()">
            <h5>Name</h5>
            <mat-form-field floatLabel="never" [ngClass]="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors? 'error-border': ''">
                <input matInput type="text" formControlName="name" placeholder="Enter name project">
            </mat-form-field>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors?.required">
                Is required.
            </div>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors?.minlength">
                Name must be at least 3 characters long.
            </div>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['name'].dirty && this.projectCreateForm.controls['name'].errors?.maxlength">
                Name must be not greater than 15 characters long.
            </div>
    
            <h5>Logo</h5>
            <mat-form-field floatLabel="never" [ngClass]="this.projectCreateForm.controls['logo'].dirty && this.projectCreateForm.controls['logo'].errors? 'error-border': ''">
                <input matInput type="text" formControlName="logo" placeholder="Enter logo link">
            </mat-form-field>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['logo'].dirty && this.projectCreateForm.controls['logo'].errors?.required">
                Is required.
            </div>
    
            <h5>Desctiption project</h5>
            <mat-form-field class="wide example-full-width" appearance="fill" [ngClass]="this.projectCreateForm.controls['description'].dirty && this.projectCreateForm.controls['description'].errors? 'error-border': ''">
                <textarea matInput type="text" formControlName="description" placeholder="Enter text"></textarea>
            </mat-form-field>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['description'].dirty && this.projectCreateForm.controls['description'].errors?.required">
                Is required.
            </div>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['description'].dirty && this.projectCreateForm.controls['description'].errors?.minlength">
                Desctiption must be at least 10 characters long.
            </div>
    
            <h5>Team info</h5>
            <mat-form-field class="wide example-full-width" appearance="fill" [ngClass]="this.projectCreateForm.controls['teamInfo'].dirty && this.projectCreateForm.controls['teamInfo'].errors? 'error-border': ''">
                <textarea matInput type="text" formControlName="teamInfo" placeholder="Enter text"></textarea>
            </mat-form-field>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['teamInfo'].dirty && this.projectCreateForm.controls['teamInfo'].errors?.required">
                Is required.
            </div>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['teamInfo'].dirty && this.projectCreateForm.controls['teamInfo'].errors?.minlength">
                Team info must be at least 10 characters long.
            </div>
    
            <h5>Website Link</h5>
            <mat-form-field floatLabel="never" [ngClass]="this.projectCreateForm.controls['websiteLink'].dirty && this.projectCreateForm.controls['websiteLink'].errors? 'error-border': ''">
                <input matInput type="text" formControlName="websiteLink" placeholder="Enter website link project">
            </mat-form-field>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['websiteLink'].dirty && this.projectCreateForm.controls['websiteLink'].errors?.required">
                Is required.
            </div>
            <div class="custom-error" *ngIf="this.projectCreateForm.controls['websiteLink'].dirty && this.projectCreateForm.controls['websiteLink'].errors?.url">
                Wrong url format
            </div>
    
            <button mat-button mat-dialog-close type="submit" [disabled]="!projectCreateForm.valid || !this.projectCreateForm.dirty">Publish</button>
        </form>
    </div>
</div>