$accent-color:#4808AE;
.card{
    height: 66px;
    background-color: #EC4F9326;
    text-align: left;
    padding: 10px;
    vertical-align: baseline;
    margin-right: 10px;
    border-left: 2px solid #DA5A92;
    margin-bottom: 2px;
    white-space: nowrap;
    cursor: pointer;
}
.interviewColors{
    background-color: #EC4F9326;
    border-left: 2px solid #DA5A92;
}
.meetingColors{
    border-left: 2px solid #2658E8;
    background-color: #D9E6FD;
}
.purpleColors {
  background-color: #ec4f9326;
  border-left: 2px solid #da5a92;
}
.blueColors {
  border-left: 2px solid #2658e8;
  background-color: #d9e6fd;
}
.orangeColors{
    border-left: 2px solid #eb703c;
  background-color: #eb703c;
}
.needReviewColors{
    border-left: 2px solid #e8e526;
    background-color: #f7fca0;
    color: black;
}
.type{
    font-weight: 540;
}