.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999999;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;

  h3 {
    margin: 0;
  }
}

.content {
  flex: 1 1 auto;
  min-height: 0;
  padding: 15px 30px;
  box-sizing: border-box;
  width: 100%;

  .cards {
    overflow-y: scroll;
    max-height: 100%;
    padding-top: 15px;
    box-sizing: border-box;
  }
}
