.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999999;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;

  h3 {
    margin: 0;
    display: flex;
  }
}

.content {
  flex: 1 1 auto;
  min-height: 0;
  padding: 15px 30px;
  box-sizing: border-box;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;

  .cards {
    padding-top: 15px;
    box-sizing: border-box;
  }
}

.self-applied-info {
  display: flex;
  align-items: center;

  .mat-icon {
    color: gray;
    font-size: 20px;
    height: 20px;
  }

  .mat-icon:hover {
    cursor: pointer;
  }
}
