<div class='widget-wrapper mat-typography'>
    <div class='main-widget'>
        <div class="background-icon">
            <mat-icon >{{widgetInfo.iconName}}</mat-icon>
        </div>
        <div class="text-info">
            <div class="count-info">{{widgetInfo.count}}</div>
            <div class="description-text">{{widgetInfo.description}}</div>
        </div>
    </div>
    <div class='vertical-line' *ngIf="widgetInfo.list.length"></div>
    <div class='extended-info-wrapper' *ngIf="widgetInfo.list.length">
        <div class='extended-info'>      
            <div *ngFor="let _item of widgetInfo.list" class='extended-item'>
                <span>{{_item.name}}</span>
                <mat-icon *ngIf="_item.isUrgent">local_fire_department</mat-icon>            
            </div>
        </div>
    </div>
</div>
