<app-header></app-header>
<div class="home-wrapper">
    <div class="home-widgets">
        <app-spinner *ngIf="isWidgetsLoading"></app-spinner>
        <app-home-widget [widgetData]="applicantWidget"></app-home-widget>
        <app-home-widget [widgetData]="activeJobsWidgetFull"></app-home-widget>
        <app-home-widget [widgetData]="processedWidget"></app-home-widget>
        <app-home-widget [widgetData]="recruiterWidget"></app-home-widget>
    </div>
    <div class="home-vacancy-summary"> 
        <app-spinner *ngIf="isVacanciesLoading"></app-spinner>
        <h2 class="bold">Summary</h2>
        <div class="vacancy-container">
            <div class="vacancy-grid">  
                <app-vacancy-card 
                    *ngFor="let vacancy of isShowedAllVacancies ? hotVacancies : hotVacancies.slice(0, minVisibleQuantity)" [hotVacancy]="vacancy">
                </app-vacancy-card> 
                <div class="vacancy-blur-card" *ngIf="!isShowedAllVacancies && hotVacancies.length > minVisibleQuantity"> 
                    <div><span class="see-all-button" (click)="showAllVacancies()">See all</span></div>
                    <app-vacancy-card [hotVacancy]="hotVacancies[minVisibleQuantity]" [isBlur]="true"></app-vacancy-card>
                </div>
            </div>
        </div>     
    </div>
    <div class="home-team-tasks">            
        <app-my-tasks></app-my-tasks>
    </div>    
    <div class='home-recent-activity'>
        <app-recent-activity></app-recent-activity>
    </div>
</div>