.small-image{
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile-image{
    object-fit: cover;
    width: 200px;
    height: 170px;
}

.menu{
    padding-top:0px !important;
    width: 200px;
}

.profile-content{
    padding-left:15px;
    padding-right:15px;
}

h1{
    margin: 0 0 10px;
}


.user-role{
    width: fit-content;
    height:auto;
    padding: 2px 15px;
    border-radius: 6px;
    color:white;
}

.contacts{
    padding: 10px 0px 15px;
    h2{
        margin: 0px;
        color:#291965;
        font-weight: 600;
        font-size: 18px;
    }
    img{
        width: 20px;
        padding-right: 6px;
    }
}

.contacts > h3{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    margin: 0;
    height: 20px;
    .mat-icon{
        font-size: 16px;
        padding-top: 5px;
    }
    .iconify{
        font-size: 20px;
        padding-right: 6px;
    }
    &:hover{
        color:#ee2a64;
        cursor: pointer;
    }
    
}
    .roles-grid{
        display: flex;
    grid-gap: 5px;
    flex-wrap: wrap;
    }