$primary-color: #EE2A64;
$primary-color-white: #F6F7F9;
$primary-font: Nunito;

.mat-toolbar{
    background-color:#2B2564;
    height:90px;
}
//button
.mat-button.mat-button {
    border-radius: 70px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    width: 140px;
    background-color: $primary-color;
    color: $primary-color-white;
}

//primary button
.mat-button.mat-primary {
    line-height: 35px;
}

//accent button
.mat-button.mat-accent {
    line-height: 31px;
    width: 165px;
    background-color: $primary-color-white;
    border: 2px solid $primary-color;
    color: $primary-color;
}


//input
.mat-form-field-wrapper.mat-form-field-wrapper {
    display: flex;
    align-items: center;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    background-color: rgba(226, 226, 226, 0.5);
    min-width: 250px;
    max-width: 500px;
    width: 100%;
    border-radius: 50px;
    padding: 0px 20px 0px 20px;
    height: 40px;
    color: $primary-color;
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-infix {
    border: none;
}