// material setup
@use '~@angular/material' as mat;
@import "./themes.scss";
@include mat.core();

$ATS-primary: mat.define-palette($md-ats-primary, 500);
$ATS-accent: mat.define-palette($md-ats-secondary, 500);

$ATS-warn: mat.define-palette(mat.$red-palette);
$ATS-typography: mat.define-typography-config(
  $font-family: "Nunito",
);

$ATS-theme: mat.define-light-theme(
  (
    color: (
      primary: $ATS-primary,
      accent: $ATS-accent,
      warn: $ATS-warn,
    ),
    typography: $ATS-typography,
  )
);

@include mat.all-component-themes($ATS-theme);
@include mat.core($ATS-typography);

@import "./common.scss";
@import "./app/shared/directives/paginator.directive.scss";
// fonts
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: $primary-color-white;
}

body {
  font-family: "Nunito";
}

mat-list-item .mat-icon {
  color: $primary-color;
  font-weight: 500 !important;

  .mat-line {
    font-weight: 500 !important;
  }
}

.toast-success-custom.toast-success {
  background-color: rgba($color: #359b35, $alpha: 0.5);
}

.toast-error-custom.toast-error {
  background-color: rgba($color: #ff0000, $alpha: 0.5);
}

.toast-info-custom.toast-info {
  background-color: rgba($color: #0000ff, $alpha: 0.5);
}
