@import '../node_modules/@angular/material/theming';

$md-ats-primary: (
    50 : #fde5ec,
    100 : #fabfd1,
    200 : #f795b2,
    300 : #f36a93,
    400 : #f14a7b,
    500 : #ee2a64,
    600 : #ec255c,
    700 : #e91f52,
    800 : #e71948,
    900 : #e20f36,
    A100 : #ffffff,
    A200 : #ffdbe1,
    A400 : #ffa8b6,
    A700 : #ff8fa0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-ats-secondary: (
    50 : #e5e3ed,
    100 : #bfbad1,
    200 : #948cb2,
    300 : #695e93,
    400 : #493c7c,
    500 : #291965,
    600 : #24165d,
    700 : #1f1253,
    800 : #190e49,
    900 : #0f0837,
    A100 : #7f70ff,
    A200 : #523dff,
    A400 : #240aff,
    A700 : #1900f0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
