<app-spinner [loading]="loading"></app-spinner>
<div class="dialog-header-bar">
  <h1 mat-dialog-title>Applicant creation form</h1>
  <mat-dialog-actions>
    <mat-icon mat-dialog-close>close</mat-icon>
  </mat-dialog-actions>
</div>
<form class="applicant-form" [formGroup]="validationGroup!">
  <div class="variants-input">
    <div>
      <p class="required-field">First name</p>
      <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors? 'invalid-input' : ''">
        <input formControlName="firstName" type="text" matInput placeholder="Enter first name"
          [(ngModel)]="createdApplicant.firstName" required>
      </mat-form-field>
      <div class="validation-error"
        *ngIf="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors?.required; else firstNamePatternError">
        It&apos;s required field
      </div>
    </div>
    <div class="variants">
      <div class="variant" (click)="set('firstName', available)" *ngFor="let available of data.firstName">
        <mat-icon color="accent">add</mat-icon>
        <span>{{ available }}</span>
      </div>
    </div>
  </div>
  <ng-template #firstNamePatternError>
    <div class="validation-error"
      *ngIf="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors?.pattern">
      A first name can only contain latin letters and start with an upper case letter
    </div>
  </ng-template>
  <div class="variants-input">
    <div>
      <p class="required-field">Last name</p>
      <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors? 'invalid-input' : ''">
        <input required formControlName="lastName" type="text" matInput placeholder="Enter last name"
          [(ngModel)]="createdApplicant.lastName">
      </mat-form-field>
      <div class="validation-error"
        *ngIf="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors?.required; else lastNamePatternError">
        It&apos;s required field
      </div>
    </div>
    <div class="variants">
      <div class="variant" (click)="set('lastName', available)" *ngFor="let available of data.lastName">
        <mat-icon color="accent">add</mat-icon>
        <span>{{ available }}</span>
      </div>
    </div>
  </div>
  <ng-template #lastNamePatternError>
    <div class="validation-error"
      *ngIf="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors?.pattern">
      A last name can only contain latin letters and start with an upper case letter
    </div>
  </ng-template>
  <div class="variants-input">
    <div>
      <p class="required-field">Email</p>
      <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors? 'invalid-input' : ''">
        <input required formControlName="email" type="email" matInput placeholder="Enter email"
          [(ngModel)]="createdApplicant.email">
      </mat-form-field>
      <div class="validation-error"
        *ngIf="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors?.required; else emailPatternError">
        It&apos;s required field
      </div>
    </div>
    <div class="variants">
      <div class="variant" (click)="set('email', available)" *ngFor="let available of data.email">
        <mat-icon color="accent">add</mat-icon>
        <span>{{ available }}</span>
      </div>
    </div>
  </div>
  <ng-template #emailPatternError>
    <div class="validation-error"
      *ngIf="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors?.pattern">
      Please enter a valid email address.
    </div>
  </ng-template>
  <div class="variants-input">
    <div>
      <p>Experience description</p>
      <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['experienceDescription'].dirty && validationGroup!.controls['experienceDescription'].errors? 'invalid-input' : ''">
        <input formControlName="experienceDescription" type="text" matInput placeholder="Enter experience description"
          [(ngModel)]="createdApplicant.experienceDescription">
      </mat-form-field>
    </div>
    <div class="variants">
      <div class="variant" (click)="set('experienceDescription', available)" *ngFor="let available of data.experience">
        <mat-icon color="accent">add</mat-icon>
        <span>{{ available }}</span>
      </div>
    </div>
  </div>
  <p>Experience years</p>
  <mat-form-field appearance="fill">
    <input formControlName="experience" type="number" matInput step=".1" min="0" max="60"
      [(ngModel)]="createdApplicant.experience">
  </mat-form-field>
  <div class="validation-error"
    *ngIf="validationGroup!.controls['experience'].dirty && validationGroup!.controls['experience'].errors?.required">
    Please enter a valid experience number in range from 0 to 60
  </div>
  <div class="variants-input">
    <div>
      <p>Phone</p>
      <mat-form-field appearance="fill"
        [ngClass]="validationGroup!.controls['phone'].dirty && validationGroup!.controls['phone'].errors? 'invalid-input' : ''">
        <input formControlName="phone" type="tel" matInput placeholder="Enter phone number"
          [(ngModel)]="createdApplicant.phone">
      </mat-form-field>
    </div>
    <div class="variants">
      <div class="variant" (click)="set('phone', available)" *ngFor="let available of data.phone">
        <mat-icon color="accent">add</mat-icon>
        <span>{{ available }}</span>
      </div>
    </div>
  </div>
  <ng-template #phonePatternError>
    <div class="validation-error"
      *ngIf="validationGroup!.controls['phone'].dirty && validationGroup!.controls['phone'].errors?.pattern">
      A phone number can only contain integers and has a length from 8 to 16. In has to match the pattern
      +&lt;code&gt;&lt;number&gt; or &lt;number&gt;
    </div>
  </ng-template>
  <div class="variants-input">
    <div>
      <p>Tags</p>
      <app-tags-edit [tags]="createdApplicant.tags.tagDtos" (updateTags)="updateTags($event)"></app-tags-edit>
    </div>
    <div class="variants">
      <ng-container *ngFor="let available of data.skills; index as i">
        <div class="variant" (click)="toggleTag(available)" *ngIf="i < 5 || showAllTags">
          <mat-icon color="accent">{{ includesTag(available) ? "remove" : "add" }}</mat-icon>
          <span>{{ available }}</span>
        </div>
      </ng-container>
      <div class="more-button" *ngIf="data.skills.length > 5" (click)="showAllTags = !showAllTags">
        Show {{ showAllTags ? "less" : "more" }}
      </div>
    </div>
  </div>
  <p>Skills additional information</p>
  <mat-form-field class="wide" appearance="fill">
    <textarea formControlName="skills" matInput placeholder="Enter skills additional information"
      [(ngModel)]="createdApplicant.skills"></textarea>
  </mat-form-field>
  <p>LinkedIn url</p>
  <mat-form-field appearance="fill"
    [ngClass]="validationGroup!.controls['linkedInUrl'].dirty && validationGroup!.controls['linkedInUrl'].errors? 'invalid-input' : ''">
    <input formControlName="linkedInUrl" type="text" matInput placeholder="Enter LinkedIn url"
      [(ngModel)]="createdApplicant.linkedInUrl">
  </mat-form-field>
  <div class="validation-error"
    *ngIf="validationGroup!.controls['linkedInUrl'].dirty && validationGroup!.controls['linkedInUrl'].errors?.pattern">
    LinkedIn url must match the pattern https://www.linkedin.com/in/&lt;username&gt;/
  </div>
  <p>CV</p>
  <app-file-input [default]="[data.cv]" [accept]="allowedCvFileType" (upload)="uploadApplicantCv($event)">
  </app-file-input>
  <p>Photo</p>
  <app-file-input [image]="true" (upload)="uploadApplicantPhoto($event)">
  </app-file-input>
  <mat-dialog-actions class="publish-action">
    <button [disabled]="validationGroup!.invalid" (click)="createApplicant()" mat-button>
      Save
    </button>
  </mat-dialog-actions>
</form>