<div class="dialog-header-bar">
    <h1 mat-dialog-title>Applicant creation form</h1>
    <mat-dialog-actions>
        <mat-icon mat-dialog-close>close</mat-icon>
    </mat-dialog-actions>
</div>
<form class="applicant-form" [formGroup]="validationGroup!" novalidate>
    <p>First name</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors? 'error-border' : ''">
        <input formControlName="firstName" type="text" matInput placeholder="Enter first name" [(ngModel)]="createdApplicant.firstName">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors?.required; else firstNamePatternError">
        Please enter a first name
    </div>
    <ng-template #firstNamePatternError>
        <div class="custom-error" *ngIf="validationGroup!.controls['firstName'].dirty && validationGroup!.controls['firstName'].errors?.pattern">
            A first name can only contain latin letters and start with an upper case letter
        </div>
    </ng-template>

    <p>Last name</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors? 'error-border' : ''">
        <input formControlName="lastName" type="text" matInput placeholder="Enter last name" [(ngModel)]="createdApplicant.lastName">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors?.required; else lastNamePatternError">
        Please enter a last name
    </div>
    <ng-template #lastNamePatternError>
        <div class="custom-error" *ngIf="validationGroup!.controls['lastName'].dirty && validationGroup!.controls['lastName'].errors?.pattern">
            A last name can only contain latin letters and start with an upper case letter
        </div>
    </ng-template>

    <p>Middle name</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['middleName'].dirty && validationGroup!.controls['middleName'].errors? 'error-border' : ''">
        <input formControlName="middleName" type="text" matInput placeholder="Enter middle name" [(ngModel)]="createdApplicant.middleName">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['middleName'].dirty && validationGroup!.controls['middleName'].errors?.required; else middleNamePatternError">
        Please enter a middle name
    </div>
    <ng-template #middleNamePatternError>
        <div class="custom-error" *ngIf="validationGroup!.controls['middleName'].dirty && validationGroup!.controls['middleName'].errors?.pattern">
            A middle name can only contain latin letters and start with an upper case letter
        </div>
    </ng-template>

    <p>Email</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors? 'error-border' : ''">
        <input formControlName="email" type="email" matInput placeholder="Enter email" [(ngModel)]="createdApplicant.email">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors?.required; else emailPatternError">
        Please enter an email address.
    </div>
    <ng-template #emailPatternError>
        <div class="custom-error" *ngIf="validationGroup!.controls['email'].dirty && validationGroup!.controls['email'].errors?.pattern">
            Please enter a valid email address.
        </div>
    </ng-template>

    <p>Experience</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['experience'].dirty && validationGroup!.controls['experience'].errors? 'error-border' : ''">
        <input formControlName="experience" type="number" matInput step=".1" min="0" max="60" [(ngModel)]="createdApplicant.experience">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['experience'].dirty && validationGroup!.controls['experience'].errors?.required">
        Please enter a valid experience number in range from 0 to 60
    </div>
    
    <p>Phone</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['phone'].dirty && validationGroup!.controls['phone'].errors? 'error-border' : ''">
        <input formControlName="phone" type="tel" matInput placeholder="Enter phone number" [(ngModel)]="createdApplicant.phone">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['phone'].dirty && validationGroup!.controls['phone'].errors?.required; else phonePatternError">
        Please enter a phone number
    </div>
    <ng-template #phonePatternError>
        <div class="custom-error" *ngIf="validationGroup!.controls['phone'].dirty && validationGroup!.controls['phone'].errors?.pattern">
            A phone number can only contain integers and has a length from 8 to 16
        </div>
    </ng-template>

    <p>Skype</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['skype'].dirty && validationGroup!.controls['skype'].errors? 'error-border' : ''">
        <input formControlName="skype" type="text" matInput placeholder="Enter skype" [(ngModel)]="createdApplicant.skype">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['skype'].dirty && validationGroup!.controls['skype'].errors?.pattern">
        A skype has to has a length from 6 to 32 not space characters
    </div>

    <p>LinkedIn url</p>
    <mat-form-field appearance="fill" [ngClass]="validationGroup!.controls['linkedInUrl'].dirty && validationGroup!.controls['linkedInUrl'].errors? 'error-border' : ''">
        <input formControlName="linkedInUrl" type="text" matInput placeholder="Enter LinkedIn url" [(ngModel)]="createdApplicant.linkedInUrl">
    </mat-form-field>
    <div class="custom-error" *ngIf="validationGroup!.controls['linkedInUrl'].dirty && validationGroup!.controls['linkedInUrl'].errors?.pattern">
        LinkedIn url must match the pattern https://www.linkedin.com/in/&lt;username&gt;
    </div>

    <p>Tags</p>
    <app-tags-edit [tags]="createdApplicant.tags.tagDtos" (updateTags)="updateTags($event)"></app-tags-edit>

    <mat-dialog-actions class="publish-action">
        <button [disabled]="validationGroup!.invalid" (click)="createApplicant()" mat-button>
            Publish
        </button>
    </mat-dialog-actions>

</form>