<div class="fixed">
    <div class="dialog-title" mat-dialog-title>
        <h1>Pool details form</h1>
        <button mat-icon-button mat-dialog-close="none">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<app-spinner *ngIf="loading"></app-spinner>
<div class='modal-content'>
        <div class="form-control">
            <form [formGroup]="poolForm">
                <div class="creator-info" *ngIf="pool">                    
                        Added by <span class='user-info'>{{pool.createdBy}}</span> {{pool.dateCreated | timezone}}                        
                </div>
                <h5 class="required-field">Pool name</h5>
                <mat-form-field floatLabel='never' class="al-subscribe-form-field" [ngClass]="getClass('name')">
                  <input matInput type="text" formControlName="name" placeholder="Enter name of pool">
                </mat-form-field>
                <div class="custom-error" *ngIf="this.poolForm.controls['name'].dirty && this.poolForm.controls['name'].errors?.required">
                  Please fill name of pool.
                </div>
                <div class="custom-error" *ngIf="this.poolForm.controls['name'].dirty && this.poolForm.controls['name'].errors?.minlength">
                  Name must be at least 3 characters long.
                </div>
                <div class="custom-error" *ngIf="this.poolForm.controls['name'].dirty && this.poolForm.controls['name'].errors?.maxlength">
                  Name must be not greater than 20 characters long.
                </div>
                <h5 class="required-field">Description</h5>
                <mat-form-field floatLabel='never' class="al-subscribe-form-field" class="textarea" [ngClass]="getClass('description')">
                    <textarea matInput type="text" autocomplete="off" formControlName="description" placeholder="Enter description"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="6"
                    cdkAutosizeMaxRows="6"></textarea>
                </mat-form-field>
                <div class="custom-error" *ngIf="this.poolForm.controls['description'].dirty && this.poolForm.controls['description'].errors?.required">
                  Please fill description of pool.
                </div>
                <div class="custom-error" *ngIf="this.poolForm.controls['description'].dirty && this.poolForm.controls['description'].errors?.minlength">
                  Pool description must be at least 10 characters long.
                </div>          
            </form>
            <div class="applicants-header">
                <h4>Applicants</h4>
                <button mat-button class="create-button" (click)="addApplicants()"><mat-icon>how_to_reg</mat-icon> Applicants</button>
                <div class="add-user-select add">         
                    <!-- <mat-select [(value)]="dataSource.data" multiple [compareWith]="compareById" (selectionChange)="onUserChange($event)">
                      <input matInput (keyup)="onKey($event)">
                      <mat-option *ngFor="let user of data.applicants" [value]="user">{{user.firstName}} {{user.lastName}}</mat-option>
                    </mat-select> -->
                  </div>
            </div>
            <div>
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                    <td mat-cell *matCellDef="let row" class='mat-column-username'>
                        <div class="internal">
                            <img class="avatar" [src]="getAvatar(row)"> {{ row.firstName }} {{ row.lastName }}
                        </div>
                    </td>
                </ng-container>


                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let i = index">{{i+1}}</td>
                </ng-container>

                <ng-container matColumnDef="tags">
                    <th mat-header-cell *matHeaderCellDef> Tags </th>
                    <td mat-cell *matCellDef="let applicant" class="tags-list-cell"
                        [style.min-width]="isShowAllTags ? '150px' : '50px'">
                        <mat-list *ngIf="!isShowAllTags" class="tags-list">
                            <mat-list-item *ngFor="let tag of getFirstTags(applicant)">{{tag.tagName}}</mat-list-item>
                            <mat-list-item class="more-button"
                                *ngIf="applicant.tags && applicant.tags.tagDtos.length > 4"
                                (click)="toggleTags(applicant)">
                                +{{applicant.tags.tagDtos.length - 3}} more
                            </mat-list-item>
                        </mat-list>

                        <div class="absolute-tags-list-container" *ngIf="applicant.isShowAllTags">
                            <div class="tags-pop-up-actions">
                                <button mat-icon-button (click)="toggleTags(applicant)">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                            <mat-list class="tags-list">
                                <mat-list-item *ngFor="let tag of applicant.tags.tagDtos">{{tag.tagName}}
                                </mat-list-item>
                            </mat-list>

                        </div>
                    </td>
                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <div *ngIf="pool && !pool.applicants.length" style="padding-top:5px">No applicants in this pool yet
                    </div>
                </tr>

            </table>
         </div>    
    </div>
    <div class="login-button form-group">
        <button mat-button color="primary" (click)="save()" [disabled]="!poolForm.valid">Save</button>
    </div>
</div>
