<div class="all-hrs" >
    <div class="hr-card" *ngFor="let hr of hrs">
        <div class="avatar-container">
            <img class="profile-hr-image" alt="User profile photo" src="{{hr.image}}" onError="this.src='../../../../assets/images/defaultAvatar.png'" (click) = "$event.stopPropagation()">    
            <span class="todo-actions">
                <mat-icon mat-icon-button>edit</mat-icon>
            </span>
        </div>
        <div>
            {{hr.firstName}} {{hr.lastName}}
            
        </div>    
    </div>
</div>

