<app-spinner [loading]="loading"></app-spinner>
<div class="self-applied">
    <mat-icon *ngIf="applicant!.isSelfApplied" matTooltip="This applicant was added on their own">hail</mat-icon>
</div>
<button mat-icon-button *ngIf="applicant!.isFollowed" (click)="onBookmark()" class="applicant-control-btn">
    <mat-icon [ngClass]="{'applyPrimaryColor': applicant!.isFollowed}" class="applyPrimaryColor">bookmark</mat-icon>
</button>
<button mat-icon-button *ngIf="!applicant!.isFollowed" (click)="onBookmark()" class="applicant-control-btn">
    <mat-icon [ngClass]="{'applyPrimaryColor': applicant!.isFollowed}">bookmark</mat-icon>
</button>
<button (click)="showApplicantUpdateDialog()" mat-icon-button class="applicant-control-btn">
    <mat-icon>edit</mat-icon>
</button>
<mat-select panelClass="applicants-options">
    <mat-option class="delete" (click)="showDeleteConfirmDialog()">
        <mat-icon>delete</mat-icon>Delete
    </mat-option>
    <mat-option (click)="openVacancyAddModal()">
        <mat-icon>add</mat-icon>Apply Vacancy
    </mat-option>
    <mat-option *ngIf="isCvAvailable" (click)="openCv()">
        <mat-icon>open_in_new</mat-icon>Open CV
    </mat-option>
    <mat-option (click)="openHistory()">
        <mat-icon>history</mat-icon>Show history
    </mat-option>
</mat-select>