<div class="sidenav_container" [@onSideNavChange]="sideNavState ? 'open' : 'close'">
    <app-spinner [loading]="loading"></app-spinner>
    <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
        <div class="logo-container">
            <img *ngIf="sideNavState" class="logo" src="../../../../assets/images/logo_scout_purple.png">
            <img *ngIf="!sideNavState" class="mini-logo" src="../../../../assets/images/logo_scout_minimized_purple.png">
        </div>
        <mat-nav-list>
            <button mat-icon-button color="primary" (click)="onSinenavToggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-list-item routerLink='home' routerLinkActive='active'>
                <mat-icon matListIcon>home</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Home</a>
            </mat-list-item>
            <mat-list-item *ngIf="isHrLead" routerLink='/user-management' routerLinkActive='active'>
                <mat-icon matListIcon>manage_accounts</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>User Management</a>
            </mat-list-item>
            <mat-list-item routerLink='/vacancies' routerLinkActive='active'>
                <mat-icon matListIcon>work</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Vacancies</a>
            </mat-list-item>
            <mat-list-item routerLink='/applicants' routerLinkActive='active'>
                <mat-icon matListIcon>person</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Applicants</a>
            </mat-list-item>
            <mat-list-item routerLink='/projects' routerLinkActive='active'>
                <mat-icon matListIcon>tab</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Projects</a>
            </mat-list-item>
            <mat-list-item routerLink='/interviews' routerLinkActive='active'>
                <mat-icon matListIcon>event_available</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Interviews</a>
            </mat-list-item>
            <mat-list-item routerLink='/archive' routerLinkActive='active'>
                <mat-icon matListIcon>library_books</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Archive</a>
            </mat-list-item>            
            <mat-list-item routerLink='/task-management' routerLinkActive='active'>
                <mat-icon matListIcon> list_alt</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Task Management</a>
            </mat-list-item>
            <mat-list-item routerLink='/templates' routerLinkActive='active'>
                <mat-icon matListIcon>dashboard</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Templates</a>
            </mat-list-item>
            <mat-list-item routerLink='/pools' routerLinkActive='active'>
                <mat-icon matListIcon>groups</mat-icon>
                <a [@animateText]="linkText ? 'show' : 'hide'" matLine>Pools</a>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>